{{! <header class='w-full h-[66px] absolute z-50 bg-white'>
    <div class='flex justify-start items-center w-full h-full px-32 content-center'>
        <div class='mr-5'>LOGO</div>
        <div class=''>NAVBAR</div>
        <div class='ml-auto mr-5'>BUTTON: BOOK NOW</div>
    </div>
</header> }}

<header class='bg-white drop-shadow-2xl w-full h-16 hidden'>
    <div class='mx-auto flex items-center justify-start px-32 h-full'>
        <a href='/' class='flex items-center'>
            <img src='img/logo.svg' alt='Hotel Logo' class='h-16 w-16' />
            <span class='text-2xl font-semibold text-gray-800 ml-2 px-5 border-x-2'>Hotel Name</span>
        </a>
        <ul class='flex space-x-8 pl-5'>
            <li><a href='/' class='font-semibold text-gray-700 hover:text-gray-900'>Trang chủ</a></li>
            <li><a href='#' class='font-semibold text-gray-700 hover:text-gray-900'>Giới thiệu</a></li>
            <li><a href='#' class='font-semibold text-gray-700 hover:text-gray-900'>Dịch vụ</a></li>
            <li><a href='/room' class='font-semibold text-gray-700 hover:text-gray-900'>Phòng</a></li>
            <li><a href='#' class='font-semibold text-gray-700 hover:text-gray-900'>Khuyến mãi</a></li>
            <li><a href='#' class='font-semibold text-gray-700 hover:text-gray-900'>Hình ảnh</a></li>
            <li><a href='#' class='font-semibold text-gray-700 hover:text-gray-900'>Tin tức</a></li>
            <li><a href='#' class='font-semibold text-gray-700 hover:text-gray-900'>Liên hệ</a></li>
        </ul>
        <div class='ml-auto mr-5'>BUTTON: BOOK NOW</div>
    </div>
</header>