<body
  class='page-template-default page page-id-74 wp-custom-logo wp-embed-responsive translatepress-en_GB page-contact-us'>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src='https://www.googletagmanager.com/ns.html?id=GTM-5ZPL8WB' height='0' width='0'
      style='display: none; visibility: hidden'></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) --><noscript><iframe
      src='https://www.googletagmanager.com/ns.html?id=GTM-T33KZT9' height='0' width='0'
      style='display: none; visibility: hidden'></iframe></noscript><!-- End Google Tag Manager (noscript) -->
  <a href='#main' class='screen-reader-text'>Skip to content</a>

  <div class='view'>
    <div class='off-canvas-content' data-off-canvas-content>
      <header class="header" style="position: unset; !important" data-sticky-container>
        <div class="wrapper">
          <div class="grid-x">

            <div class="cell shrink slot-logo">
              <a href="/"><span class="screen-reader-text">Lanson Place</span></a>
              <a href="/" rel="home"><span>Luxtery Hotel</span></a>
            </div>

            <nav class="cell auto slot-menu">
              <ul id="menu-main" class="dropdown menu">
                <li id="menu-item-127"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127">
                  <a href="/">Trang chủ</a>
                  {{!-- <ul class="sub-menu">
                    <li id="menu-item-131"
                      class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-131">
                      <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">Garden/Skyline
                        Room</a>
                    </li>
                    <li id="menu-item-130"
                      class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-130">
                      <a href="https://www.twomr.com.hk/suites/standard-superior-suite/">Standard/Superior
                        Suite</a>
                    </li>
                    <li id="menu-item-291"
                      class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-291">
                      <a href="https://www.twomr.com.hk/suites/garden-skyline-suite/">Garden/Skyline
                        Suite</a>
                    </li>
                    <li id="menu-item-129"
                      class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-129">
                      <a href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">Garden
                        Deluxe/Skyline Deluxe Suite</a>
                    </li>
                    <li id="menu-item-128"
                      class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-128">
                      <a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">Garden/Skyline
                        Apartment</a>
                    </li>
                  </ul> --}}
                </li>
                <li id="menu-item-724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a
                    href="/intro">Giới thiệu</a></li>
                <li id="menu-item-132"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                  <a href="#">Dịch vụ</a>
                  {{!-- <ul class="sub-menu">
                    <li id="menu-item-293"
                      class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-293">
                      <a href="https://www.twomr.com.hk/meetings-events/wedding/">Wedding</a>
                    </li>
                    <li id="menu-item-658"
                      class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-658">
                      <a href="https://www.twomr.com.hk/meetings-events/social-events/">Social
                        Events</a>
                    </li>
                    <li id="menu-item-294"
                      class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-294">
                      <a href="https://www.twomr.com.hk/meetings-events/central-business-event-venue/">Meeting</a>
                    </li>
                  </ul> --}}
                </li>
                <li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176"><a
                    href="/room">Phòng</a></li>
                <li id="menu-item-136"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-136">
                  <a href="#">Khuyến mãi</a>
                  {{!-- <ul class="sub-menu">
                    <li id="menu-item-701"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701">
                      <a href="https://www.twomr.com.hk/facilities/">Facilities & Services</a>
                    </li>
                    <li id="menu-item-137"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137">
                      <a href="https://www.twomr.com.hk/neighbourhood/">Neighbourhood</a>
                    </li>
                    <li id="menu-item-138"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138">
                      <a href="https://www.twomr.com.hk/contact-us/">Get in Touch</a>
                    </li>
                  </ul> --}}
                </li>
                <li id="menu-item-132"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                  <a href="#">Hình ảnh</a>
                <li id="menu-item-132"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                  <a href="#">Tin tức</a>
                <li id="menu-item-132"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                  <a href="#">Liên hệ</a>
              </ul>
            </nav>

            {{!-- <div class="cell shrink slot-languages">
              <ul id="menu-languages" class="dropdown menu slot-languages">
                <li id="menu-item-734"
                  class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734">
                  <a href="https://www.twomr.com.hk/tc/"><span data-no-translation><span
                        class="trp-ls-language-name">繁</span></span></a>
                </li>
                <li id="menu-item-902"
                  class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902">
                  <a href="https://www.twomr.com.hk/sc/"><span data-no-translation><span
                        class="trp-ls-language-name">简</span></span></a>
                </li>
              </ul>
            </div> --}}

            <div class="cell shrink slot-availability">
              <button type="button" class="wp-block-button__link" data-open="reveal-ibe">
                <span debug="twomacdonnellroaddirect">
                  Đặt phòng ngay</span>
              </button>
            </div>

            <div class="cell shrink slot-toggle">
              <button type="button" class="button" data-toggle="offCanvas"><span class="screen-reader-text">Open
                  Menu</span></button>
            </div>

          </div>

        </div>



      </header>

      <div class='hero-image'>
        <img width='1200' height='781' src='img/contact/contact-1600x1041.jpg.webp'
          class='attachment-large size-large wp-post-image' alt decoding='async' fetchpriority='high' srcset='
              img/contact/contact-1600x1041.jpg.webp 1600w,
              img/contact/contact-720x468.jpg.webp    720w,
              img/contact/contact-768x500.jpg.webp    768w,
              img/contact/contact-1536x999.jpg.webp  1536w,
              images/LansonPlace_TMR_Concierge-2048x1332.jpg.webp 2048w
            ' sizes='(max-width: 1200px) 100vw, 1200px' />
      </div>

      <div class='content-block'>
        <div class='wrapper'>
          <main id='main'>
            <article class='post-74 page type-page status-publish has-post-thumbnail hentry'>
              <h1>Get in Touch</h1>

              <p class='is-excerpt'>
                Welcome to Hong Kong! Please don’t hesitate to give us a call on +852 2132 2132 or drop
                us a line at
                <a href='mailto:resv@mr2.com.hk'>resv@mr2.com.hk</a>
                should you require any assistance.
              </p>

              <div class='wp-block-client-inner content-block-inner'>
                <div class='content-block-inner-wrapper'>
                  <div class='wp-block-columns is-layout-flex wp-container-3 wp-block-columns-is-layout-flex'>
                    <div class='wp-block-column is-layout-flow wp-block-column-is-layout-flow'>
                      <h2 class='wp-block-heading'>Online Inquiry</h2>

                      <p>
                        We will get back to your online inquiry in a timely manner.
                      </p>
                    </div>

                    <div class='wp-block-column is-layout-flow wp-block-column-is-layout-flow'>
                      <div
                        class='gf_browser_unknown gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework'
                        data-form-theme='legacy' data-form-index='0' id='gform_wrapper_1'>
                        <form method='post' enctype='multipart/form-data' id='gform_1' action='/contact-us/'
                          data-formid='1' novalidate>
                          <div class='gform-body gform_body'>
                            <ul id='gform_fields_1'
                              class='gform_fields top_label form_sublabel_below description_below'>

                              <li id='field_1_2'
                                class='gfield gfield--type-select gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-select is-large'
                                data-js-reload='field_1_2'>
                                <label class='gfield_label gform-field-label' for='input_1_2'>Topic<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_select'>
                                  <select name='input_2' id='input_1_2' class='large gfield_select' aria-required='true'
                                    aria-invalid='false'>
                                    <option value='Rooms'>Rooms</option>
                                    <option value='Dining'>Dining</option>
                                    <option value='Meetings & Events'>
                                      Meetings & Events
                                    </option>
                                    <option value='Location & Access'>
                                      Location & Access
                                    </option>
                                  </select>
                                </div>
                              </li>
                              <li id='field_1_12'
                                class='gfield gfield--type-select gfield--width-third gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-select is-large'
                                data-js-reload='field_1_12'>
                                <label class='gfield_label gform-field-label' for='input_1_12'>Title<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_select'>
                                  <select name='input_12' id='input_1_12' class='large gfield_select'
                                    aria-required='true' aria-invalid='false'>
                                    <option value='Mr.'>Mr.</option>
                                    <option value='Mrs.'>Mrs.</option>
                                    <option value='Miss.'>Miss.</option>
                                    <option value='Ms.'>Ms.</option>
                                  </select>
                                </div>
                              </li>
                              <li id='field_1_3'
                                class='gfield gfield--type-text gfield--width-third gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-large'
                                data-js-reload='field_1_3'>
                                <label class='gfield_label gform-field-label' for='input_1_3'>First Name<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_text'>
                                  <input name='input_3' id='input_1_3' type='text' value class='large'
                                    aria-required='true' aria-invalid='false' />
                                </div>
                              </li>
                              <li id='field_1_13'
                                class='gfield gfield--type-text gfield--width-third gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-large'
                                data-js-reload='field_1_13'>
                                <label class='gfield_label gform-field-label' for='input_1_13'>Last Name<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_text'>
                                  <input name='input_13' id='input_1_13' type='text' value class='large'
                                    aria-required='true' aria-invalid='false' />
                                </div>
                              </li>
                              <li id='field_1_4'
                                class='gfield gfield--type-email gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-email is-small'
                                data-js-reload='field_1_4'>
                                <label class='gfield_label gform-field-label' for='input_1_4'>Email<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_email'>
                                  <input name='input_4' id='input_1_4' type='email' value class='small'
                                    aria-required='true' aria-invalid='false' />
                                </div>
                              </li>
                              <li id='field_1_5'
                                class='gfield gfield--type-phone field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-phone is-small'
                                data-js-reload='field_1_5'>
                                <label class='gfield_label gform-field-label' for='input_1_5'>Telephone
                                  (optional)</label>
                                <div class='ginput_container ginput_container_phone'>
                                  <input name='input_5' id='input_1_5' type='tel' value class='small'
                                    aria-invalid='false' />
                                </div>
                              </li>
                              <li id='field_1_8'
                                class='gfield gfield--type-select gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-select is-large'
                                data-js-reload='field_1_8'>
                                <label class='gfield_label gform-field-label' for='input_1_8'>Unit Type<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_select'>
                                  <select name='input_8' id='input_1_8' class='large gfield_select' aria-required='true'
                                    aria-invalid='false'>
                                    <option value>– Select a Suite –</option>
                                    <option value='83'>
                                      Garden/Skyline Room
                                    </option>
                                    <option value='86'>
                                      Standard/Superior Suite
                                    </option>
                                    <option value='267'>
                                      Garden/Skyline Suite
                                    </option>
                                    <option value='105'>
                                      Garden Deluxe/Skyline Deluxe Suite
                                    </option>
                                    <option value='107'>
                                      Garden/Skyline Apartment
                                    </option>
                                  </select>
                                </div>
                              </li>
                              <li id='field_1_9'
                                class='gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-small'
                                data-js-reload='field_1_9'>
                                <label class='gfield_label gform-field-label' for='input_1_9'>CHECK-IN—CHECK-OUT<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_text'>
                                  <input name='input_9' id='input_1_9' type='text' value class='small'
                                    aria-required='true' aria-invalid='false' />
                                </div>
                              </li>
                              <li id='field_1_10'
                                class='gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-small'
                                data-js-reload='field_1_10'>
                                <label class='gfield_label gform-field-label' for='input_1_10'>Budget<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_text'>
                                  <input name='input_10' id='input_1_10' type='text' value class='small'
                                    aria-required='true' aria-invalid='false' />
                                </div>
                              </li>
                              <li id='field_1_6'
                                class='gfield gfield--type-textarea gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-textarea is-large'
                                data-js-reload='field_1_6'>
                                <label class='gfield_label gform-field-label' for='input_1_6'>Message<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_textarea'>
                                  <textarea name='input_6' id='input_1_6' class='textarea large' aria-required='true'
                                    aria-invalid='false' rows='10' cols='50'></textarea>
                                </div>
                              </li>
                              <li id='field_1_11'
                                class='gfield gfield--type-checkbox gfield--type-choice field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-checkbox is-medium'
                                data-js-reload='field_1_11'>
                                <label
                                  class='gfield_label gform-field-label screen-reader-text gfield_label_before_complex'></label>
                                <div class='ginput_container ginput_container_checkbox'>
                                  <ul class='gfield_checkbox' id='input_1_11'>
                                    <li class='gchoice gchoice_1_11_1'>
                                      <input class='gfield-choice-input' name='input_11.1' type='checkbox'
                                        value='Request for Viewing' id='choice_1_11_1' />
                                      <label for='choice_1_11_1' id='label_1_11_1'
                                        class='gform-field-label gform-field-label--type-inline'>Request for
                                        Viewing</label>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li id='field_1_7'
                                class='gfield gfield--type-consent gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-consent is-medium'
                                data-js-reload='field_1_7'>
                                <label class='gfield_label gform-field-label gfield_label_before_complex'>Consent<span
                                    class='gfield_required'><span
                                      class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                <div class='ginput_container ginput_container_consent'>
                                  <input name='input_7.1' id='input_1_7_1' type='checkbox' value='1'
                                    aria-required='true' aria-invalid='false' />
                                  <label class='gform-field-label gform-field-label--type-inline gfield_consent_label'
                                    for='input_1_7_1'>I agree to the Privacy Policy of Lanson Place and
                                    all of its locations.</label><input type='hidden' name='input_7.2'
                                    value='I agree to the Privacy Policy of Lanson Place and all of its locations.'
                                    class='gform_hidden' /><input type='hidden' name='input_7.3' value='1'
                                    class='gform_hidden' />
                                </div>
                              </li>
                              <li id='field_1_14'
                                class='gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below gfield_visibility_visible'
                                data-js-reload='field_1_14'>
                                <label class='gfield_label gform-field-label' for='input_1_14'>Name</label>
                                <div class='ginput_container'>
                                  <input name='input_14' id='input_1_14' type='text' value
                                    autocomplete='new-password' />
                                </div>
                                <div class='gfield_description' id='gfield_description_1_14'>
                                  This field is for validation purposes and should be
                                  left unchanged.
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class='gform_footer top_label'>
                            <input type='submit' id='gform_submit_button_1' class='gform_button button'
                              value='Submit Inquiry' onclick="if(window['gf_submitting_1']){return false;} 
             if(!jQuery('#gform_1')[0].checkValidity ||
                jQuery('#gform_1')[0].checkValidity()){window['gf_submitting_1']='true';}" onkeypress="if(event.keyCode == 13){
                  if(window['jQuery']('#gform_1').trigger('submit',[true]));}" />

                            <input type='hidden' class='gform_hidden' name='is_submit_1' value='1' />
                            <input type='hidden' class='gform_hidden' name='gform_submit' value='1' />

                            <input type='hidden' class='gform_hidden' name='gform_unique_id' value />
                            <input type='hidden' class='gform_hidden' name='state_1'
                              value='WyJ7XCIxMlwiOltcImVjMDg3MmQyMTgwZDYzNGI4MjQ4MDc1ZTY5NDAyNWNmXCIsXCJjZjQ5NDQzZWZkODExNzM5M2I1MTcwYTU0MDA5YWIyY1wiLFwiZGVlMzFlZjJlZjk1ZTFlYjFlNDAyYmI5MzQyMGQ2NDVcIixcIjc4YjI4YTlmNTFmMTc0NWY3NDk5ZTAzYjE2OTc4NTg3XCJdLFwiNy4xXCI6XCI2NDE2MzVhMmRmNWYzM2Q5ZTVjOGEzZTViYzdkMWQyOVwiLFwiNy4yXCI6XCI5Njk4MmI0NmRkZWU3NmM0NmM5ZjUwMDZiMDQ1Y2MxY1wiLFwiNy4zXCI6XCI2NDE2MzVhMmRmNWYzM2Q5ZTVjOGEzZTViYzdkMWQyOVwifSIsIjQ0MGY0MTg2MDdmMDA4ZmI2N2IyNjRkM2VhZTQwOGRhIl0=' />
                            <input type='hidden' class='gform_hidden' name='gform_target_page_number_1'
                              id='gform_target_page_number_1' value='0' />
                            <input type='hidden' class='gform_hidden' name='gform_source_page_number_1'
                              id='gform_source_page_number_1' value='1' />
                            <input type='hidden' name='gform_field_values' value />
                          </div>
                        </form>
                      </div>
                      <script>
                        gform.initializeOnLoaded(function () {
                          gformInitSpinner(1,
                            "https://s35891.pcdn.co/wp-content/plugins/gravityforms/images/spinner.svg",
                            true); jQuery("#gform_ajax_frame_1").on("load", function () {
                              var
                                contents = jQuery(this).contents().find("*").html(); var is_postback
                                  = contents.indexOf("GF_AJAX_POSTBACK") >= 0; if (!is_postback) {
                                    return;
                                  } var form_content = jQuery(this).contents().find("#gform_wrapper_1");
                              var is_confirmation = jQuery(this).contents()
                                .find("#gform_confirmation_wrapper_1").length > 0; var is_redirect =
                                  contents.indexOf("gformRedirect(){") >= 0; var is_form =
                                    form_content.length > 0 && !is_redirect && !is_confirmation; var mt =
                                      parseInt(jQuery("html").css("margin-top"), 10) + parseInt(
                                        jQuery("body").css("margin-top"), 10) + 100; if (is_form) {
                                          jQuery("#gform_wrapper_1").html(form_content.html()); if (
                                            form_content.hasClass("gform_validation_error")) {
                                            jQuery("#gform_wrapper_1").addClass("gform_validation_error");
                                          } else { jQuery("#gform_wrapper_1").removeClass("gform_validation_error"); }
                                          setTimeout(function () { /* delay the scroll by 50 milliseconds to fix a
                                                bug in chrome */ }, 50); if (window["gformInitDatepicker"]) {
                                            gformInitDatepicker();
                                          } if (window["gformInitPriceFields"]) {
                                            gformInitPriceFields();
                                          } var current_page = jQuery(
                                            "#gform_source_page_number_1").val(); gformInitSpinner(1,
                                              "https://s35891.pcdn.co/wp-content/plugins/gravityforms/images/spinner.svg",
                                              true); jQuery(document).trigger("gform_page_loaded", [1, current_page]
                                              ); window["gf_submitting_1"] = false;
                                        } else if (!is_redirect) {
                                          var
                                            confirmation_content = jQuery(this).contents()
                                              .find(".GF_AJAX_POSTBACK").html(); if (!confirmation_content) {
                                                confirmation_content = contents;
                                              } setTimeout(function () {
                                                jQuery("#gform_wrapper_1").replaceWith(confirmation_content);
                                                jQuery(document).trigger("gform_confirmation_loaded", [1]);
                                                window["gf_submitting_1"] = false; wp.a11y.speak(jQuery(
                                                  "#gform_confirmation_message_1").text());
                                              }, 50);
                                        } else {
                                jQuery("#gform_1").append(contents); if (window["gformRedirect"]) {
                                  gformRedirect();
                                }
                              } jQuery(document).trigger("gform_post_render", [1,
                                current_page,]);
                            });
                        });
                      </script>

                      <div class='wp-block-contact-form-7-contact-form-selector'>
                        <div
                          class='gf_browser_unknown gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework'
                          data-form-theme='legacy' data-form-index='1' id='gform_wrapper_1' style='display: none'>
                          <div class='gform_heading'>
                            <h3 class='gform_title'>MRHK Contact Form</h3>
                            <p class='gform_description'></p>
                          </div>
                          <form method='post' enctype='multipart/form-data' id='gform_1' action='/contact-us/'
                            data-formid='1' novalidate>
                            <div class='gform-body gform_body'>
                              <ul id='gform_fields_1'
                                class='gform_fields top_label form_sublabel_below description_below'>
                                <li id='field_1_1'
                                  class='gfield gfield--type-radio gfield--type-choice gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-radio is-medium'
                                  data-js-reload='field_1_1'>
                                  <label class='gfield_label gform-field-label'>Type
                                    of Enquiry<span class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_radio'>
                                    <ul class='gfield_radio' id='input_1_1'>
                                      <li class='gchoice gchoice_1_1_0'>
                                        <input name='input_1' type='radio' value='general-enquiry' checked='checked'
                                          id='choice_1_1_0' />
                                        <label for='choice_1_1_0' id='label_1_1_0'
                                          class='gform-field-label gform-field-label--type-inline'>General
                                          Enquiry</label>
                                      </li>
                                      <li class='gchoice gchoice_1_1_1'>
                                        <input name='input_1' type='radio' value='shorter-stay' id='choice_1_1_1' />
                                        <label for='choice_1_1_1' id='label_1_1_1'
                                          class='gform-field-label gform-field-label--type-inline'>Shorter Stay</label>
                                      </li>
                                      <li class='gchoice gchoice_1_1_2'>
                                        <input name='input_1' type='radio' value='extended-stay' id='choice_1_1_2' />
                                        <label for='choice_1_1_2' id='label_1_1_2'
                                          class='gform-field-label gform-field-label--type-inline'>Extended Stay</label>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                                <li id='field_1_2'
                                  class='gfield gfield--type-select gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-select is-large'
                                  data-js-reload='field_1_2'>
                                  <label class='gfield_label gform-field-label' for='input_1_2'>Topic<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_select'>
                                    <select name='input_2' id='input_1_2' class='large gfield_select'
                                      aria-required='true' aria-invalid='false'>
                                      <option value='Rooms'>Rooms</option>
                                      <option value='Dining'>Dining</option>
                                      <option value='Meetings & Events'>
                                        Meetings & Events
                                      </option>
                                      <option value='Location & Access'>
                                        Location & Access
                                      </option>
                                    </select>
                                  </div>
                                </li>
                                <li id='field_1_12'
                                  class='gfield gfield--type-select gfield--width-third gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-select is-large'
                                  data-js-reload='field_1_12'>
                                  <label class='gfield_label gform-field-label' for='input_1_12'>Title<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_select'>
                                    <select name='input_12' id='input_1_12' class='large gfield_select'
                                      aria-required='true' aria-invalid='false'>
                                      <option value='Mr.'>Mr.</option>
                                      <option value='Mrs.'>Mrs.</option>
                                      <option value='Miss.'>Miss.</option>
                                      <option value='Ms.'>Ms.</option>
                                    </select>
                                  </div>
                                </li>
                                <li id='field_1_3'
                                  class='gfield gfield--type-text gfield--width-third gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-large'
                                  data-js-reload='field_1_3'>
                                  <label class='gfield_label gform-field-label' for='input_1_3'>First Name<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_text'>
                                    <input name='input_3' id='input_1_3' type='text' value class='large'
                                      aria-required='true' aria-invalid='false' />
                                  </div>
                                </li>
                                <li id='field_1_13'
                                  class='gfield gfield--type-text gfield--width-third gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-large'
                                  data-js-reload='field_1_13'>
                                  <label class='gfield_label gform-field-label' for='input_1_13'>Last Name<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_text'>
                                    <input name='input_13' id='input_1_13' type='text' value class='large'
                                      aria-required='true' aria-invalid='false' />
                                  </div>
                                </li>
                                <li id='field_1_4'
                                  class='gfield gfield--type-email gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-email is-small'
                                  data-js-reload='field_1_4'>
                                  <label class='gfield_label gform-field-label' for='input_1_4'>Email<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_email'>
                                    <input name='input_4' id='input_1_4' type='email' value class='small'
                                      aria-required='true' aria-invalid='false' />
                                  </div>
                                </li>
                                <li id='field_1_5'
                                  class='gfield gfield--type-phone field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-phone is-small'
                                  data-js-reload='field_1_5'>
                                  <label class='gfield_label gform-field-label' for='input_1_5'>Telephone
                                    (optional)</label>
                                  <div class='ginput_container ginput_container_phone'>
                                    <input name='input_5' id='input_1_5' type='tel' value class='small'
                                      aria-invalid='false' />
                                  </div>
                                </li>
                                <li id='field_1_8'
                                  class='gfield gfield--type-select gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-select is-large'
                                  data-js-reload='field_1_8'>
                                  <label class='gfield_label gform-field-label' for='input_1_8'>Unit Type<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_select'>
                                    <select name='input_8' id='input_1_8' class='large gfield_select'
                                      aria-required='true' aria-invalid='false'>
                                      <option value>
                                        – Select a Suite –
                                      </option>
                                      <option value='83'>
                                        Garden/Skyline Room
                                      </option>
                                      <option value='86'>
                                        Standard/Superior Suite
                                      </option>
                                      <option value='267'>
                                        Garden/Skyline Suite
                                      </option>
                                      <option value='105'>
                                        Garden Deluxe/Skyline Deluxe Suite
                                      </option>
                                      <option value='107'>
                                        Garden/Skyline Apartment
                                      </option>
                                    </select>
                                  </div>
                                </li>
                                <li id='field_1_9'
                                  class='gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-small'
                                  data-js-reload='field_1_9'>
                                  <label class='gfield_label gform-field-label' for='input_1_9'>CHECK-IN—CHECK-OUT<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_text'>
                                    <input name='input_9' id='input_1_9' type='text' value class='small'
                                      aria-required='true' aria-invalid='false' />
                                  </div>
                                </li>
                                <li id='field_1_10'
                                  class='gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-text is-small'
                                  data-js-reload='field_1_10'>
                                  <label class='gfield_label gform-field-label' for='input_1_10'>Budget<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_text'>
                                    <input name='input_10' id='input_1_10' type='text' value class='small'
                                      aria-required='true' aria-invalid='false' />
                                  </div>
                                </li>
                                <li id='field_1_6'
                                  class='gfield gfield--type-textarea gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-textarea is-large'
                                  data-js-reload='field_1_6'>
                                  <label class='gfield_label gform-field-label' for='input_1_6'>Message<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_textarea'>
                                    <textarea name='input_6' id='input_1_6' class='textarea large' aria-required='true'
                                      aria-invalid='false' rows='10' cols='50'></textarea>
                                  </div>
                                </li>
                                <li id='field_1_11'
                                  class='gfield gfield--type-checkbox gfield--type-choice field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-checkbox is-medium'
                                  data-js-reload='field_1_11'>
                                  <label
                                    class='gfield_label gform-field-label screen-reader-text gfield_label_before_complex'></label>
                                  <div class='ginput_container ginput_container_checkbox'>
                                    <ul class='gfield_checkbox' id='input_1_11'>
                                      <li class='gchoice gchoice_1_11_1'>
                                        <input class='gfield-choice-input' name='input_11.1' type='checkbox'
                                          value='Request for Viewing' id='choice_1_11_1' />
                                        <label for='choice_1_11_1' id='label_1_11_1'
                                          class='gform-field-label gform-field-label--type-inline'>Request for
                                          Viewing</label>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                                <li id='field_1_7'
                                  class='gfield gfield--type-consent gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible is-consent is-medium'
                                  data-js-reload='field_1_7'>
                                  <label class='gfield_label gform-field-label gfield_label_before_complex'>Consent<span
                                      class='gfield_required'><span
                                        class='gfield_required gfield_required_asterisk'>*</span></span></label>
                                  <div class='ginput_container ginput_container_consent'>
                                    <input name='input_7.1' id='input_1_7_1' type='checkbox' value='1'
                                      aria-required='true' aria-invalid='false' />
                                    <label class='gform-field-label gform-field-label--type-inline gfield_consent_label'
                                      for='input_1_7_1'>I agree to the Privacy Policy of Lanson Place
                                      and all of its locations.</label><input type='hidden' name='input_7.2'
                                      value='I agree to the Privacy Policy of Lanson Place and all of its locations.'
                                      class='gform_hidden' /><input type='hidden' name='input_7.3' value='1'
                                      class='gform_hidden' />
                                  </div>
                                </li>
                                <li id='field_1_14'
                                  class='gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below gfield_visibility_visible'
                                  data-js-reload='field_1_14'>
                                  <label class='gfield_label gform-field-label' for='input_1_14'>Comments</label>
                                  <div class='ginput_container'>
                                    <input name='input_14' id='input_1_14' type='text' value
                                      autocomplete='new-password' />
                                  </div>
                                  <div class='gfield_description' id='gfield_description_1_14'>
                                    This field is for validation purposes and should
                                    be left unchanged.
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class='gform_footer top_label'>
                              <input type='submit' id='gform_submit_button_1' class='gform_button button'
                                value='Submit Inquiry' onclick="if(window['gf_submitting_1']){return false;} 
             if(!jQuery('#gform_1')[0].checkValidity || jQuery('#gform_1')[0].checkValidity()){
                window['gf_submitting_1']='true;';
             }" onkeypress="if(event.keyCode == 13){
                  if(window['jQuery']('#gform_1').trigger('submit',[true]));
             }" />

                              <input type='hidden' class='gform_hidden' name='is_submit_1' value='1' />
                              <input type='hidden' class='gform_hidden' name='gform_submit' value='1' />

                              <input type='hidden' class='gform_hidden' name='gform_unique_id' value />
                              <input type='hidden' class='gform_hidden' name='state_1'
                                value='WyJ7XCIxMlwiOltcImVjMDg3MmQyMTgwZDYzNGI4MjQ4MDc1ZTY5NDAyNWNmXCIsXCJjZjQ5NDQzZWZkODExNzM5M2I1MTcwYTU0MDA5YWIyY1wiLFwiZGVlMzFlZjJlZjk1ZTFlYjFlNDAyYmI5MzQyMGQ2NDVcIixcIjc4YjI4YTlmNTFmMTc0NWY3NDk5ZTAzYjE2OTc4NTg3XCJdLFwiNy4xXCI6XCI2NDE2MzVhMmRmNWYzM2Q5ZTVjOGEzZTViYzdkMWQyOVwiLFwiNy4yXCI6XCI5Njk4MmI0NmRkZWU3NmM0NmM5ZjUwMDZiMDQ1Y2MxY1wiLFwiNy4zXCI6XCI2NDE2MzVhMmRmNWYzM2Q5ZTVjOGEzZTViYzdkMWQyOVwifSIsIjQ0MGY0MTg2MDdmMDA4ZmI2N2IyNjRkM2VhZTQwOGRhIl0=' />
                              <input type='hidden' class='gform_hidden' name='gform_target_page_number_1'
                                id='gform_target_page_number_1' value='0' />
                              <input type='hidden' class='gform_hidden' name='gform_source_page_number_1'
                                id='gform_source_page_number_1' value='1' />
                              <input type='hidden' name='gform_field_values' value />
                            </div>
                          </form>
                        </div>
                        <script>
                          gform.initializeOnLoaded(function () {
                            gformInitSpinner(1,
                              "https://s35891.pcdn.co/wp-content/plugins/gravityforms/images/spinner.svg",
                              true); jQuery("#gform_ajax_frame_1").on("load", function () {
                                var
                                  contents = jQuery(this).contents().find("*").html(); var
                                    is_postback = contents.indexOf("GF_AJAX_POSTBACK") >= 0; if
                                  (!is_postback) { return; } var form_content = jQuery(this)
                                    .contents().find("#gform_wrapper_1"); var is_confirmation =
                                      jQuery(this).contents().find("#gform_confirmation_wrapper_1")
                                        .length > 0; var is_redirect = contents.indexOf("gformRedirect(){")
                                          >= 0; var is_form = form_content.length > 0 && !is_redirect &&
                                            !is_confirmation; var mt = parseInt(
                                              jQuery("html").css("margin-top"), 10) + parseInt(
                                                jQuery("body").css("margin-top"), 10) + 100; if (is_form) {
                                                  jQuery("#gform_wrapper_1").html(form_content.html()); if (
                                                    form_content.hasClass("gform_validation_error")) {
                                                    jQuery("#gform_wrapper_1").addClass("gform_validation_error");
                                                  }
                                                  else {
                                                    jQuery("#gform_wrapper_1").removeClass(
                                                      "gform_validation_error");
                                                  } setTimeout(function () { /* delay the
                                                    scroll by 50 milliseconds to fix a bug in chrome */ }, 50); if
                                                    (window["gformInitDatepicker"]) { gformInitDatepicker(); } if
                                                    (window["gformInitPriceFields"]) { gformInitPriceFields(); } var
                                                      current_page = jQuery("#gform_source_page_number_1").val();
                                                  gformInitSpinner(1,
                                                    "https://s35891.pcdn.co/wp-content/plugins/gravityforms/images/spinner.svg",
                                                    true); jQuery(document).trigger("gform_page_loaded", [1,
                                                      current_page]); window["gf_submitting_1"] = false;
                                                } else if
                                  (!is_redirect) {
                                  var confirmation_content = jQuery(this).contents()
                                    .find(".GF_AJAX_POSTBACK").html(); if (!confirmation_content) {
                                      confirmation_content = contents;
                                    } setTimeout(function () {
                                      jQuery("#gform_wrapper_1").replaceWith(confirmation_content);
                                      jQuery(document).trigger("gform_confirmation_loaded", [1]);
                                      window["gf_submitting_1"] = false; wp.a11y.speak(jQuery(
                                        "#gform_confirmation_message_1").text());
                                    }, 50);
                                } else {
                                  jQuery("#gform_1").append(contents); if (window["gformRedirect"]) {
                                    gformRedirect();
                                  }
                                } jQuery(document).trigger("gform_post_render",
                                  [1, current_page]);
                              });
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <h2 class='has-text-align-center wp-block-heading'>
                How to get to Two MacDonnell Road
              </h2>

              <div class='wp-block-columns is-layout-flex wp-container-10 wp-block-columns-is-layout-flex'>
                <div class='wp-block-column is-layout-flow wp-block-column-is-layout-flow' style='flex-basis: 66.66%'>
                  <div class='wp-block-columns is-layout-flex wp-container-7 wp-block-columns-is-layout-flex'>
                    <div class='wp-block-column is-layout-flow wp-block-column-is-layout-flow'>
                      <h3 class='wp-block-heading'>Subway (MTR)</h3>

                      <ul>
                        <li>
                          Central/Admiralty MTR Station:<br />17 minutes
                        </li>
                      </ul>

                      <p></p>
                    </div>

                    <div class='wp-block-column is-layout-flow wp-block-column-is-layout-flow'>
                      <h3 class='wp-block-heading'>Car or Taxi</h3>

                      <ul>
                        <li>Hong Kong International Airport: 45 minutes</li>

                        <li>Admiralty: 8 minutes</li>

                        <li>Central: 7 minutes</li>

                        <li>Causeway Bay: 11 minutes</li>
                      </ul>
                    </div>

                    <div class='wp-block-column is-layout-flow wp-block-column-is-layout-flow'>
                      <h3 class='wp-block-heading'>Shuttle Bus Service</h3>

                      <p>
                        Available Monday through Friday (except Public Holidays), and stops at
                        Central’s Ice House Street and IFC Mall.
                      </p>

                      <p>
                        <a href='https://www.twomr.com.hk/contact-us/shuttle-bus-schedule/' target='_blank'
                          rel='noreferrer noopener'>View schedule</a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class='wp-block-column is-layout-flow wp-block-column-is-layout-flow' style='flex-basis: 33.33%'>
                  <div class='wp-block-client-contact-card'>
                    <p>
                      <strong><em>Two MacDonnell Road Hong Kong</em></strong><br />2 MacDonnell
                      Road, Mid-levels, Hong Kong
                    </p>

                    <p>
                      T: +852 2132 2132<br />F: +852 2131 1000<br />E: resv@mr2.com.hk
                    </p>

                    <p>
                      <a href='https://www.twomr.com.hk/contact-us/map-mrhk/' target='_blank'
                        rel='noreferrer noopener'>Location Map</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class='wp-block-client-map mapbox mapbox-single' data-latitude='22.2762112'
                data-longitude='114.1555239'>
                <div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile">
                  <div class="wp-block-media-text__content">
                    <h3 class="wp-block-heading">Đường đến Luxtery Hotel</h3>



                    <p>136 Phạm Văn Đồng, An Hải Bắc,<br>Sơn Trà, Đà Nẵng </p>



                    <p><a href="#">Xem thêm thông tin</a></p>
                  </div>

                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.900563616159!2d108.23320767508903!3d16.070648984609086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421829b09bb4f1%3A0x45b356df44712eaf!2zMTM2IFBo4bqhbSBWxINuIMSQ4buTbmcsIEFuIEjhuqNpIELhuq9jLCBTxqFuIFRyw6AsIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1694353131402!5m2!1sen!2s"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                  {{!-- <figure class="wp-block-media-text__media"><img decoding="async" loading="lazy" width="800"
                      height="600" src="img/mapexport.jpg.webp" alt class="wp-image-584 size-full"
                      srcset="img/mapexport.jpg.webp 800w, img/mapexport-720x540.jpg.webp 720w, img/mapexport-768x576.jpg.webp 768w"
                      sizes="(max-width: 800px) 100vw, 800px"></figure> --}}
                </div>
              </div>
            </article>
          </main>
        </div>
      </div>


    </div>

    <div class='off-canvas position-right' id='offCanvas' data-off-canvas>
      <button class='close-button' data-close type='button'>
        <span class='screen-reader-text'>Close menu</span>
      </button>

      <div class='slot-logo'>
        <a href='https://lansonplace.com'><span class='screen-reader-text'>Lanson Place</span></a>
      </div>

      <p>
        <a href='https://www.twomr.com.hk' rel='home'>Two MacDonnell Road</a>
      </p>

      <ul id='menu-languages-1' class='menu slot-languages'>
        <li
          class='zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734'>
          <a href='https://www.twomr.com.hk/tc/contact-us/'><span data-no-translation><span
                class='trp-ls-language-name'>繁</span></span></a>
        </li>
        <li
          class='zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902'>
          <a href='https://www.twomr.com.hk/sc/contact-us/'><span data-no-translation><span
                class='trp-ls-language-name'>简</span></span></a>
        </li>
      </ul>

      <div class='off-canvas-widget'>
        <p class='off-canvas-widget-title'>For Our Guests</p>
        <nav class='menu-for-our-guests-container' aria-label='For Our Guests'>
          <ul id='menu-for-our-guests-1' class='menu'>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-167'>
              <a href='https://www.twomr.com.hk/suites/'>Our Spaces</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-725'>
              <a href='https://www.twomr.com.hk/dining/'>Dining</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-169'>
              <a href='https://www.twomr.com.hk/meetings-events/'>Meetings & Events</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-175'>
              <a href='https://www.twomr.com.hk/promotions/'>Offers</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-168'>
              <a href='https://www.twomr.com.hk/facilities/'>Facilities & Services</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-170'>
              <a href='https://www.twomr.com.hk/neighbourhood/'>Neighbourhood</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-171'>
              <a href='https://www.twomr.com.hk/reviews/'>Reviews</a>
            </li>
            <li
              class='menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-74 current_page_item menu-item-172'>
              <a href='https://www.twomr.com.hk/contact-us/' aria-current='page'>Get in Touch</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='off-canvas-widget'>
        <p class='off-canvas-widget-title'>About Us</p>
        <nav class='menu-about-us-container' aria-label='About Us'>
          <ul id='menu-about-us-1' class='menu'>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-249'>
              <a href='https://www.twomr.com.hk/careers/'>Careers</a>
            </li>
            <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-250'>
              <a href='https://www.twomr.com.hk/mediacentre/'>Media Centre</a>
            </li>
            <li class='menu-item menu-item-type-custom menu-item-object-custom menu-item-251'>
              <a target='_blank' rel='noopener' href='https://lansonplace.com/'>Lanson Place</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class='reveal' id='reveal-ibe' data-reveal='ibe'>
      <h2>Find Your Personal Retreat Today</h2>

      <form action='#' target='_blank' class='ibe-form' id='ibe-form-reveal'>
        <div class='ibe-core'>
          <div class='is-select ibe-property' v-show='properties'>
            <label for='property-reveal'>Location</label>
            <div>
              <select id='property-reveal' name='property' v-model='parameters.property' required>
                <option value>Choose location…</option>
                <option v-if='properties' v-for='property in properties' v-bind:value='property.property_ibe_id'>
                  {{property.post_title}}
                </option>
              </select>
            </div>
          </div>

          <div class='is-calendar ibe-duration'>
            <label for='duration-reveal'>Check-in—Check-out</label>
            <div data-no-translation>
              <flat-pickr id='duration-reveal' name='duration' v-model='flatPickrDate' v-bind:config='flatPickrConfig'
                v-on:on-change='assignDates'>
              </flat-pickr>
            </div>
          </div>

          <div class='ibe-occupants'>
            <div class='is-select ibe-adults'>
              <label for='number_adults-reveal'>Adults</label>
              <div>
                <select id='number_adults-reveal' name='number_adults' v-model='parameters.number_adults'>
                  <option v-for='n in 10'>{{n}}</option>
                </select>
              </div>
            </div>

            <div class='is-select ibe-children'>
              <label for='number_children-reveal'>Children</label>
              <div>
                <select id='number_children-reveal' name='number_children' v-model='parameters.number_children'>
                  <option value='0'>0</option>
                  <option v-for='n in 10'>{{n}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class='ibe-promo' v-show='!properties'>
            <label for='promotion_code-reveal'>Promo Code</label>
            <div>
              <input id='promotion_code-reveal' name='promotion_code' v-model='parameters.promotion_code' />
            </div>
          </div>

          <input type='hidden' name='_src' v-model='parameters._src' />
          <input type='hidden' name='locale' v-model='parameters.locale' />
        </div>

        <button type='submit' v-if='ibeUrl' v-bind:disabled='!parameters.property' v-on:click.prevent='toIBE'>
          Book Now
        </button>
        <button type='submit' v-else-if='!ibeUrl && contactUrl' v-on:click.prevent='toContact'>
          Send Enquiry
        </button>
      </form>

      <button class='close-button' data-close type='button'>
        <span class='screen-reader-text'>Close modal</span>
      </button>
    </div>
  </div>
  <template id='tp-language' data-tp-language='en_GB'></template>
  <style id='core-block-supports-inline-css'>
    /** * Core styles: block-supports */
    .wp-container-3.wp-container-3,
    .wp-container-7.wp-container-7,
    .wp-container-10.wp-container-10 {
      flex-wrap: nowrap;
    }
  </style>
  <script src='js/clipboard.js' id='clipboard-js'></script>
  <script src='js/flatpickr.min.js' id='flatpickr-js'></script>
  <script src='js/foundation.min.js' id='foundation-js'></script>
  <script src='js/gsap.min.js' id='gsap-js'></script>
  <script src='js/jets.min.js' id='jets-js'></script>
  <script src='js/js.cookie.min.js' id='js-cookie-js'></script>
  <script src='js/slick.min.js' id='slick-js'></script>
  <script src='js/vue.min.js' id='vue-js'></script>
  <script src='js/vue-flatpickr.min.js' id='vue-flatpickr-component-js'></script>
  <script id='client-theme-js-extra'>
    var phpVars = {
      contactUrl: "https:\/\/www.twomr.com.hk\/contact-us\/", properties: "", property:
        "twomacdonnellroaddirect", rooms: "", room_type: "", check_in_date: "2023-09-16", check_out_date: "2023-09-17",
    };
  </script>
  <script src='js/application.js' id='client-theme-js'></script>
  <script src='js/client-blocks.js' id='client-blocks-js'></script>
  <script src='js/index.js' id='swv-js'></script>
  <script id='contact-form-7-js-extra'>
    var wpcf7 = {
      api: { root: "https:\/\/www.twomr.com.hk\/wp-json\/", namespace: "contact-form-7\/v1", }, cached:
        "1",
    };
  </script>
  <script src='js/index_1.js' id='contact-form-7-js'></script>
  <script src='js/underscore.min.js' id='underscore-js'></script>
  <script src='js/backbone.min.js' id='backbone-js'></script>
  <script id='wp-api-request-js-extra'>
    var wpApiSettings = {
      root: "https:\/\/www.twomr.com.hk\/wp-json\/", nonce: "25d71ec34e", versionString:
        "wp\/v2\/",
    };
  </script>
  <script src='js/api-request.js' id='wp-api-request-js'></script>
  <script src='js/wp-api.js' id='wp-api-js'></script>
  <script src='js/wp-polyfill-inert.js' id='wp-polyfill-inert-js'></script>
  <script src='js/regenerator-runtime.js' id='regenerator-runtime-js'></script>
  <script src='js/wp-polyfill.js' id='wp-polyfill-js'></script>
  <script src='js/dom-ready.js' id='wp-dom-ready-js'></script>
  <script src='js/hooks.js' id='wp-hooks-js'></script>
  <script src='js/i18n.js' id='wp-i18n-js'></script>
  <script id='wp-i18n-js-after'>
    wp.i18n.setLocaleData({ "text direction\u0004ltr": ["ltr"] });
  </script>
  <script id='wp-a11y-js-translations'>
    (function (domain, translations) {
      var localeData = translations.locale_data[domain] ||
        translations.locale_data.messages; localeData[""].domain = domain; wp.i18n.setLocaleData(localeData, domain);
    })("default", {
      "translation-revision-date": "2020-10-29 21:22:19+0000", generator: "GlotPress\/3.0.0-alpha.2",
      domain: "messages", locale_data: {
        messages: {
          "": {
            domain: "messages", "plural-forms": "nplurals=2; plural=n
              != 1; ", lang: "en_GB", }, Notifications: ["Notifications"], }, }, comment: { reference:
        "wp-includes\/js\/dist\/a11y.js"
          },
        });
  </script>
  <script src='js/a11y.js' id='wp-a11y-js'></script>
  <script defer='defer' src='js/vendor-theme.js' id='gform_gravityforms_theme_vendors-js'></script>
  <script id='gform_gravityforms_theme-js-extra'>
    var gform_theme_config = {
      common: {
        form: { honeypot: { version_hash: "e38a28845903f1cb10c051d0c31cc74f" }, },
      }, hmr_dev: "", public_path:
        "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/assets\/js\/dist\/",
    };
  </script>
  <script defer='defer' src='js/scripts-theme.js' id='gform_gravityforms_theme-js'></script>
  <script type='text/javascript'>
    window.addEventListener("load", function (event) {
      jQuery(
        ".cfx_form_main,.wpcf7-form,.wpforms-form,.gform_wrapper form").each(function () {
          var form = jQuery(this); var
            screen_width = ""; var screen_height = ""; if (screen_width == "") {
              if (screen) {
                screen_width = screen.width;
              } else { screen_width = jQuery(window).width(); }
            } if (screen_height == "") {
              if (screen) {
                screen_height =
                  screen.height;
              } else { screen_height = jQuery(window).height(); }
            } form.append('<input type="hidden"
        name = "vx_width" value = "' + screen_width + '" > ' ); form.append( ' < input type = "hidden" name = "vx_height" value = "' +
        screen_height + '">'); form.append('<input type="hidden" name="vx_url" value="' + window.location.href + '">'
            );
        });
    });
  </script>
  <script>
    gform.initializeOnLoaded(function () {
      jQuery(document).on("gform_post_render", function (event, formId,
        currentPage) {
        if (formId == 1) {
          gf_global["number_formats"][1] = {
            1: { price: false, value: false }, 2: {
              price: false, value: false
            }, 12: { price: false, value: false }, 3: { price: false, value: false }, 13: {
              price: false, value: false
            }, 4: { price: false, value: false }, 5: { price: false, value: false }, 8: {
              price:
                false, value: false
            }, 9: { price: false, value: false }, 10: { price: false, value: false }, 6: {
              price: false,
              value: false
            }, 11: { price: false, value: false }, 7: { price: false, value: false }, 14: {
              price: false,
              value: false
            },
          }; if (window["jQuery"]) {
            if (!window["gf_form_conditional_logic"])
              window["gf_form_conditional_logic"] = new Array(); window["gf_form_conditional_logic"][1] = {
                logic: {
                  2: {
                    field: {
                      actionType: "show", logicType: "all", rules: [{
                        fieldId: "1", operator: "is", value:
                          "general-enquiry",
                      },],
                    }, nextButton: null, section: null,
                  }, 8: {
                    field: {
                      actionType: "show", logicType:
                        "all", rules: [{ fieldId: "1", operator: "isnot", value: "general-enquiry", },], enabled: true,
                    }, nextButton:
                      null, section: null,
                  }, 9: {
                    field: {
                      actionType: "show", logicType: "all", rules: [{
                        fieldId: "1", operator:
                          "isnot", value: "general-enquiry",
                      },],
                    }, nextButton: null, section: null,
                  }, 10: {
                    field: {
                      actionType:
                        "show", logicType: "all", rules: [{ fieldId: "1", operator: "isnot", value: "general-enquiry", },],
                    },
                    nextButton: null, section: null,
                  }, 11: {
                    field: {
                      actionType: "show", logicType: "all", rules: [{
                        fieldId:
                          "1", operator: "isnot", value: "general-enquiry",
                      },],
                    }, nextButton: null, section: null,
                  },
                }, dependents: {
                  2: [2], 8: [8], 9: [9], 10: [10], 11: [11]
                }, animation: 1, defaults: { 1: ["choice_1_1_0"], 8: "" }, fields: {
                  1: [2, 8, 9, 10, 11], 2: [], 12: [], 3: [], 13: [], 4: [], 5: [], 8: [], 9: [], 10: [], 6: [], 11: [], 7: [],
                  14: [],
                },
              }; if (!window["gf_number_format"]) window["gf_number_format"] = "decimal_dot";
            jQuery(document).ready(function () {
              window["gformInitPriceFields"](); gf_apply_rules(1, [2, 8, 9, 10, 11],
                true); jQuery("#gform_wrapper_1").show(); jQuery(document).trigger("gform_post_conditional_logic", [1, null,
                  true,]);
            });
          }
        }
      }); jQuery(document).bind("gform_post_conditional_logic", function (event, formId, fields,
        isInit) { });
    });
  </script>
  <script>
    gform.initializeOnLoaded(function () { jQuery(document).trigger("gform_post_render", [1, 1]); });
  </script>
  <script>
    gform.initializeOnLoaded(function () {
      jQuery(document).on("gform_post_render", function (event, formId,
        currentPage) { if (formId == 4) { } }); jQuery(document).bind("gform_post_conditional_logic", function (event,
          formId, fields, isInit) { });
    });
  </script>
  <script>
    gform.initializeOnLoaded(function () { jQuery(document).trigger("gform_post_render", [4, 1]); });
  </script>
</body>