<body
    class="archive post-type-archive post-type-archive-promotions wp-custom-logo wp-embed-responsive translatepress-en_GB">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZPL8WB" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) --><noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-T33KZT9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
    <a href="#main" class="screen-reader-text">Skip to content</a>

    <div class="view">

        <div class="off-canvas-content" data-off-canvas-content>

            <header class="header" style="position: unset; !important" data-sticky-container>




                <div class="wrapper">
                    <div class="grid-x">

                        <div class="cell shrink slot-logo">
                            <a href="/"><span class="screen-reader-text">Lanson Place</span></a>
                            <a href="/" rel="home"><span>Luxtery Hotel</span></a>
                        </div>

                        <nav class="cell auto slot-menu">
                            <ul id="menu-main" class="dropdown menu">
                                <li id="menu-item-127"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127">
                                    <a href="/">Trang chủ</a>
                                    {{!-- <ul class="sub-menu">
                                        <li id="menu-item-131"
                                            class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-131">
                                            <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">Garden/Skyline
                                                Room</a></li>
                                        <li id="menu-item-130"
                                            class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-130">
                                            <a href="https://www.twomr.com.hk/suites/standard-superior-suite/">Standard/Superior
                                                Suite</a></li>
                                        <li id="menu-item-291"
                                            class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-291">
                                            <a href="https://www.twomr.com.hk/suites/garden-skyline-suite/">Garden/Skyline
                                                Suite</a></li>
                                        <li id="menu-item-129"
                                            class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-129">
                                            <a
                                                href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">Garden
                                                Deluxe/Skyline Deluxe Suite</a></li>
                                        <li id="menu-item-128"
                                            class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-128">
                                            <a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">Garden/Skyline
                                                Apartment</a></li>
                                    </ul> --}}
                                </li>
                                <li id="menu-item-724"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a
                                        href="/intro">Giới thiệu</a></li>
                                <li id="menu-item-132"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                                    <a href="#">Dịch vụ</a>
                                    {{!-- <ul class="sub-menu">
                                        <li id="menu-item-293"
                                            class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-293">
                                            <a href="https://www.twomr.com.hk/meetings-events/wedding/">Wedding</a></li>
                                        <li id="menu-item-658"
                                            class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-658">
                                            <a href="https://www.twomr.com.hk/meetings-events/social-events/">Social
                                                Events</a></li>
                                        <li id="menu-item-294"
                                            class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-294">
                                            <a
                                                href="https://www.twomr.com.hk/meetings-events/central-business-event-venue/">Meeting</a>
                                        </li>
                                    </ul> --}}
                                </li>
                                <li id="menu-item-176"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176"><a
                                        href="/room">Phòng</a></li>
                                <li id="menu-item-136"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-136">
                                    <a href="#">Khuyến mãi</a>
                                    {{!-- <ul class="sub-menu">
                                        <li id="menu-item-701"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701">
                                            <a href="https://www.twomr.com.hk/facilities/">Facilities & Services</a>
                                        </li>
                                        <li id="menu-item-137"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137">
                                            <a href="https://www.twomr.com.hk/neighbourhood/">Neighbourhood</a></li>
                                        <li id="menu-item-138"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138">
                                            <a href="https://www.twomr.com.hk/contact-us/">Get in Touch</a></li>
                                    </ul> --}}
                                </li>
                                <li id="menu-item-132"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                                    <a href="#">Hình ảnh</a>
                                <li id="menu-item-132"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                                    <a href="#">Tin tức</a>
                                <li id="menu-item-132"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                                    <a href="#">Liên hệ</a>
                            </ul>
                        </nav>

                        {{!-- <div class="cell shrink slot-languages">
                            <ul id="menu-languages" class="dropdown menu slot-languages">
                                <li id="menu-item-734"
                                    class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734">
                                    <a href="https://www.twomr.com.hk/tc/"><span data-no-translation><span
                                                class="trp-ls-language-name">繁</span></span></a></li>
                                <li id="menu-item-902"
                                    class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902">
                                    <a href="https://www.twomr.com.hk/sc/"><span data-no-translation><span
                                                class="trp-ls-language-name">简</span></span></a></li>
                            </ul>
                        </div> --}}

                        <div class="cell shrink slot-availability">
                            <button type="button" class="wp-block-button__link" data-open="reveal-ibe">
                                <span debug="twomacdonnellroaddirect">
                                    Đặt phòng ngay</span>
                            </button>
                        </div>

                        <div class="cell shrink slot-toggle">
                            <button type="button" class="button" data-toggle="offCanvas"><span
                                    class="screen-reader-text">Open Menu</span></button>
                        </div>

                    </div>

                </div>



            </header>


            <div class="content-block">
                <div class="wrapper">

                    <main id="main">


                        <h1>Offers</h1>
                        <p class="is-excerpt">Enjoy special discounts and dining offers when you book directly with us.
                            Check back often for the latest hot deals!</p>





                        <div class="ptypes-filter">
                            <ul class="tabs" role="tablist">

                                <li class="tabs-title is-active" role="presentation"><a
                                        href="https://www.twomr.com.hk/promotions/" aria-selected="true">All</a></li>

                                

                            </ul>
                        </div>


                        <div class="grid-x grid-margin-x">




                            <div
                                class="cell medium-6 card-promotion post-2087 promotions type-promotions status-publish has-post-thumbnail hentry ptypes-dining">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/promotions/seafood-platter-set-dinner/">
                                        <img width="1792" height="828" src="img/offer/Photo-03-rotated.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async" fetchpriority="high"
                                            srcset="img/offer/Photo-03-rotated.jpg.webp 1792w, img/offer/Photo-03-720x333.jpg.webp 720w, img/offer/Photo-03-1600x739.jpg.webp 1600w, img/offer/Photo-03-768x355.jpg.webp 768w, img/offer/Photo-03-1536x710.jpg.webp 1536w, img/offer/Photo-03-18x8.jpg.webp 18w"
                                            sizes="(max-width: 1792px) 100vw, 1792px"> </a>
                                </div>

                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/promotions/seafood-platter-set-dinner/">Seafood
                                        Platter Set Dinner</a></p>

                            </div>





                            <div
                                class="cell medium-6 card-promotion post-2026 promotions type-promotions status-publish has-post-thumbnail hentry ptypes-rooms">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/promotions/wedding-suite-package/">
                                        <img width="2560" height="1919" src="img/offer/B0000273-Edit.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/offer/B0000273-Edit.jpg.webp 2560w, img/offer/B0000273-Edit-720x540.jpg.webp 720w, img/offer/B0000273-Edit-1600x1199.jpg.webp 1600w, img/offer/B0000273-Edit-768x576.jpg.webp 768w, img/offer/B0000273-Edit-1536x1151.jpg.webp 1536w, img/offer/B0000273-Edit-2048x1535.jpg.webp 2048w, img/offer/B0000273-Edit-16x12.jpg.webp 16w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/promotions/wedding-suite-package/">Wedding Suite
                                        Package</a></p>

                            </div>





                            <div
                                class="cell medium-6 card-promotion post-1871 promotions type-promotions status-publish has-post-thumbnail hentry ptypes-dining">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/promotions/all-you-can-eat-mussels/">
                                        <img width="2560" height="1707" src="img/offer/EOS-5D-Mark-IV_7139.jpeg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/offer/EOS-5D-Mark-IV_7139.jpeg.webp 2560w, img/offer/EOS-5D-Mark-IV_7139-720x480.jpeg.webp 720w, img/offer/EOS-5D-Mark-IV_7139-1600x1067.jpeg.webp 1600w, img/offer/EOS-5D-Mark-IV_7139-768x512.jpeg.webp 768w, img/offer/EOS-5D-Mark-IV_7139-1536x1024.jpeg.webp 1536w, img/offer/EOS-5D-Mark-IV_7139-2048x1366.jpeg.webp 2048w, img/offer/EOS-5D-Mark-IV_7139-18x12.jpeg.webp 18w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/promotions/all-you-can-eat-mussels/"><strong>All
                                            You Can Eat Mussels</strong></a></p>

                            </div>





                            <div
                                class="cell medium-6 card-promotion post-1723 promotions type-promotions status-publish has-post-thumbnail hentry ptypes-dining">

                                <div class="card-image">
                                    <a
                                        href="https://www.twomr.com.hk/promotions/mr2-private-kitchen-at-two-macdonnell-road/">
                                        <img width="2560" height="1707" src="img/offer/EOS-5D-Mark-IV_7214.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async" loading="lazy"
                                            srcset="img/offer/EOS-5D-Mark-IV_7214.jpg.webp 2560w, img/offer/EOS-5D-Mark-IV_7214-720x480.jpg.webp 720w, img/offer/EOS-5D-Mark-IV_7214-1600x1067.jpg.webp 1600w, img/offer/EOS-5D-Mark-IV_7214-768x512.jpg.webp 768w, img/offer/EOS-5D-Mark-IV_7214-1536x1024.jpg.webp 1536w, img/offer/EOS-5D-Mark-IV_7214-2048x1366.jpg.webp 2048w, img/offer/EOS-5D-Mark-IV_7214-18x12.jpg.webp 18w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/promotions/mr2-private-kitchen-at-two-macdonnell-road/">MR2
                                        Private Kitchen, at Two MacDonnell Road</a></p>

                            </div>





                            <div
                                class="cell medium-6 card-promotion post-1679 promotions type-promotions status-publish has-post-thumbnail hentry ptypes-dining">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/promotions/afternoon-tea-set-promotion-2/">
                                        <img width="2160" height="2160" src="img/offer/IMG-3356.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async" loading="lazy"
                                            srcset="img/offer/IMG-3356.jpg.webp 2160w, img/offer/IMG-3356-720x720.jpg.webp 720w, img/offer/IMG-3356-1600x1600.jpg.webp 1600w, img/offer/IMG-3356-768x768.jpg.webp 768w, img/offer/IMG-3356-1536x1536.jpg.webp 1536w, img/offer/IMG-3356-2048x2048.jpg.webp 2048w, img/offer/IMG-3356-12x12.jpg.webp 12w"
                                            sizes="(max-width: 2160px) 100vw, 2160px"> </a>
                                </div>

                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/promotions/afternoon-tea-set-promotion-2/">Afternoon
                                        Tea Set Promotion</a></p>

                            </div>





                            <div
                                class="cell medium-6 card-promotion post-52 promotions type-promotions status-publish has-post-thumbnail hentry ptypes-rooms">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/promotions/two-mr-delight/">
                                        <img width="2560" height="1707"
                                            src="img/offer/LansonPlace_TMR_GardenSkylineDeluxeSuite_2.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async" loading="lazy"
                                            srcset="img/offer/LansonPlace_TMR_GardenSkylineDeluxeSuite_2.jpg.webp 2560w, img/offer/LansonPlace_TMR_GardenSkylineDeluxeSuite_2-720x480.jpg.webp 720w, img/offer/LansonPlace_TMR_GardenSkylineDeluxeSuite_2-1600x1067.jpg.webp 1600w, img/offer/LansonPlace_TMR_GardenSkylineDeluxeSuite_2-768x512.jpg.webp 768w, img/offer/LansonPlace_TMR_GardenSkylineDeluxeSuite_2-1536x1024.jpg.webp 1536w, img/offer/LansonPlace_TMR_GardenSkylineDeluxeSuite_2-2048x1366.jpg.webp 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="card-title"><a href="https://www.twomr.com.hk/promotions/two-mr-delight/">Two
                                        MR Delight</a></p>

                            </div>




                            <nav class="navigation cell" aria-label="Posts">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <div class="nav-links"><span aria-current="page" class="page-numbers current">1</span>
                                    <a class="page-numbers" href="/offer?e=offer_2">2</a>
                                    <a class="next page-numbers" href="/offer?e=offer_2">Next
                                        ›</a>
                                </div>
                            </nav>
                        </div> 


                    </main>


                </div>
            </div>

           

        </div>

        <div class="off-canvas position-right" id="offCanvas" data-off-canvas>

            <button class="close-button" data-close type="button">
                <span class="screen-reader-text">Close menu</span>
            </button>

            <div class="slot-logo">
                <a href="https://lansonplace.com"><span class="screen-reader-text">Lanson Place</span></a>
            </div>

            <p><a href="https://www.twomr.com.hk" rel="home">Two MacDonnell Road</a></p>

            <ul id="menu-languages-1" class="menu slot-languages">
                <li
                    class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734">
                    <a href="https://www.twomr.com.hk/tc/promotions/"><span data-no-translation><span
                                class="trp-ls-language-name">繁</span></span></a>
                </li>
                <li
                    class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902">
                    <a href="https://www.twomr.com.hk/sc/promotions/"><span data-no-translation><span
                                class="trp-ls-language-name">简</span></span></a>
                </li>
            </ul>

            <div class="off-canvas-widget">
                <p class="off-canvas-widget-title">For Our Guests</p>
                <nav class="menu-for-our-guests-container" aria-label="For Our Guests">
                    <ul id="menu-for-our-guests-1" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a
                                href="https://www.twomr.com.hk/suites/">Our Spaces</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-725"><a
                                href="https://www.twomr.com.hk/dining/">Dining</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a
                                href="https://www.twomr.com.hk/meetings-events/">Meetings & Events</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a
                                href="https://www.twomr.com.hk/promotions/">Offers</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a
                                href="https://www.twomr.com.hk/facilities/">Facilities & Services</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a
                                href="https://www.twomr.com.hk/neighbourhood/">Neighbourhood</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a
                                href="https://www.twomr.com.hk/reviews/">Reviews</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a
                                href="https://www.twomr.com.hk/contact-us/">Get in Touch</a></li>
                    </ul>
                </nav>
            </div>
            <div class="off-canvas-widget">
                <p class="off-canvas-widget-title">About Us</p>
                <nav class="menu-about-us-container" aria-label="About Us">
                    <ul id="menu-about-us-1" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a
                                href="https://www.twomr.com.hk/careers/">Careers</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a
                                href="https://www.twomr.com.hk/mediacentre/">Media Centre</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251"><a
                                target="_blank" rel="noopener" href="https://lansonplace.com/">Lanson Place</a></li>
                    </ul>
                </nav>
            </div>
        </div>



        <div class="reveal" id="reveal-ibe" data-reveal="ibe">

            <h2>Find Your Personal Retreat Today</h2>

            <form action="#" target="_blank" class="ibe-form" id="ibe-form-reveal">


                <div class="ibe-core">

                    <div class="is-select ibe-property" v-show="properties">
                        <label for="property-reveal">Location</label>
                        <div>
                            <select id="property-reveal" name="property" v-model="parameters.property" required>
                                <option value>Choose location…</option>
                                <option v-if="properties" v-for="property in properties"
                                    v-bind:value="property.property_ibe_id">{{ property.post_title }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="is-calendar ibe-duration">
                        <label for="duration-reveal">Check-in—Check-out</label>
                        <div data-no-translation>
                            <flat-pickr id="duration-reveal" name="duration" v-model="flatPickrDate"
                                v-bind:config="flatPickrConfig" v-on:on-change="assignDates">
                            </flat-pickr>
                        </div>
                    </div>

                    <div class="ibe-occupants">

                        <div class="is-select ibe-adults">
                            <label for="number_adults-reveal">Adults</label>
                            <div>
                                <select id="number_adults-reveal" name="number_adults"
                                    v-model="parameters.number_adults">
                                    <option v-for="n in 10">{{ n }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="is-select ibe-children">
                            <label for="number_children-reveal">Children</label>
                            <div>
                                <select id="number_children-reveal" name="number_children"
                                    v-model="parameters.number_children">
                                    <option value="0">0</option>
                                    <option v-for="n in 10">{{ n }}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="ibe-promo" v-show="!properties">
                        <label for="promotion_code-reveal">Promo Code</label>
                        <div>
                            <input id="promotion_code-reveal" name="promotion_code" v-model="parameters.promotion_code">
                        </div>
                    </div>

                    <input type="hidden" name="_src" v-model="parameters._src">
                    <input type="hidden" name="locale" v-model="parameters.locale">

                </div>

                <button type="submit" v-if="ibeUrl" v-bind:disabled="!parameters.property"
                    v-on:click.prevent="toIBE">Book Now</button>
                <button type="submit" v-else-if="!ibeUrl && contactUrl" v-on:click.prevent="toContact">Send
                    Enquiry</button>

            </form>

            <button class="close-button" data-close type="button">
                <span class="screen-reader-text">Close modal</span>
            </button>

        </div>

    </div>
    <template id="tp-language" data-tp-language="en_GB"></template>
    <link rel="stylesheet" id="gravity_forms_theme_reset-css" href="css/gravity-forms-theme-reset.css" media="all">
    <link rel="stylesheet" id="gravity_forms_theme_foundation-css" href="css/gravity-forms-theme-foundation.css"
        media="all">
    <link rel="stylesheet" id="gravity_forms_theme_framework-css" href="css/gravity-forms-theme-framework.css"
        media="all">
    <link rel="stylesheet" id="gravity_forms_orbital_theme-css" href="css/gravity-forms-orbital-theme.css" media="all">
    <style id="core-block-supports-inline-css">
        /**
 * Core styles: block-supports
 */
    </style>
    <script src="js/clipboard.js" id="clipboard-js"></script>
    <script src="js/flatpickr.min.js" id="flatpickr-js"></script>
    <script src="js/foundation.min.js" id="foundation-js"></script>
    <script src="js/gsap.min.js" id="gsap-js"></script>
    <script src="js/jets.min.js" id="jets-js"></script>
    <script src="js/js.cookie.min.js" id="js-cookie-js"></script>
    <script src="js/slick.min.js" id="slick-js"></script>
    <script src="js/vue.min.js" id="vue-js"></script>
    <script src="js/vue-flatpickr.min.js" id="vue-flatpickr-component-js"></script>
    <script id="client-theme-js-extra">
        var phpVars = { "contactUrl": "https:\/\/www.twomr.com.hk\/contact-us\/", "properties": "", "property": "twomacdonnellroaddirect", "rooms": "", "room_type": "", "check_in_date": "2023-09-17", "check_out_date": "2023-09-18" };
    </script>
    <script src="js/application.js" id="client-theme-js"></script>
    <script src="js/client-blocks.js" id="client-blocks-js"></script>
    <script src="js/index.js" id="swv-js"></script>
    <script id="contact-form-7-js-extra">
        var wpcf7 = { "api": { "root": "https:\/\/www.twomr.com.hk\/wp-json\/", "namespace": "contact-form-7\/v1" }, "cached": "1" };
    </script>
    <script src="js/index_1.js" id="contact-form-7-js"></script>
    <script src="js/underscore.min.js" id="underscore-js"></script>
    <script src="js/backbone.min.js" id="backbone-js"></script>
    <script id="wp-api-request-js-extra">
        var wpApiSettings = { "root": "https:\/\/www.twomr.com.hk\/wp-json\/", "nonce": "ee5604adfc", "versionString": "wp\/v2\/" };
    </script>
    <script src="js/api-request.js" id="wp-api-request-js"></script>
    <script src="js/wp-api.js" id="wp-api-js"></script>
    <script src="js/wp-polyfill-inert.js" id="wp-polyfill-inert-js"></script>
    <script src="js/regenerator-runtime.js" id="regenerator-runtime-js"></script>
    <script src="js/wp-polyfill.js" id="wp-polyfill-js"></script>
    <script src="js/dom-ready.js" id="wp-dom-ready-js"></script>
    <script src="js/hooks.js" id="wp-hooks-js"></script>
    <script src="js/i18n.js" id="wp-i18n-js"></script>
    <script id="wp-i18n-js-after">
        wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
    </script>
    <script id="wp-a11y-js-translations">
        (function (domain, translations) {
            var localeData = translations.locale_data[domain] || translations.locale_data.messages;
            localeData[""].domain = domain;
            wp.i18n.setLocaleData(localeData, domain);
        })("default", { "translation-revision-date": "2020-10-29 21:22:19+0000", "generator": "GlotPress\/3.0.0-alpha.2", "domain": "messages", "locale_data": { "messages": { "": { "domain": "messages", "plural-forms": "nplurals=2; plural=n != 1;", "lang": "en_GB" }, "Notifications": ["Notifications"] } }, "comment": { "reference": "wp-includes\/js\/dist\/a11y.js" } });
    </script>
    <script src="js/a11y.js" id="wp-a11y-js"></script>
    <script defer="defer" src="js/jquery.json.js" id="gform_json-js"></script>
    <script id="gform_gravityforms-js-extra">
        var gform_i18n = { "datepicker": { "days": { "monday": "Mo", "tuesday": "Tu", "wednesday": "We", "thursday": "Th", "friday": "Fr", "saturday": "Sa", "sunday": "Su" }, "months": { "january": "January", "february": "February", "march": "March", "april": "April", "may": "May", "june": "June", "july": "July", "august": "August", "september": "September", "october": "October", "november": "November", "december": "December" }, "firstDay": 0, "iconText": "Select date" } };
        var gf_legacy_multi = [];
        var gform_gravityforms = { "strings": { "invalid_file_extension": "This type of file is not allowed. Must be one of the following:", "delete_file": "Delete this file", "in_progress": "in progress", "file_exceeds_limit": "File exceeds size limit", "illegal_extension": "This type of file is not allowed.", "max_reached": "Maximum number of files reached", "unknown_error": "There was a problem while saving the file on the server", "currently_uploading": "Please wait for the uploading to complete", "cancel": "Cancel", "cancel_upload": "Cancel this upload", "cancelled": "Cancelled" }, "vars": { "images_url": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/images" } };
        var gf_global = { "gf_currency_config": { "name": "Hong Kong Dollar", "symbol_left": "HK$", "symbol_right": "", "symbol_padding": "", "thousand_separator": ",", "decimal_separator": ".", "decimals": 2, "code": "HKD" }, "base_url": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms", "number_formats": [], "spinnerUrl": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/images\/spinner.svg", "version_hash": "e38a28845903f1cb10c051d0c31cc74f", "strings": { "newRowAdded": "New row added.", "rowRemoved": "Row removed", "formSaved": "The form has been saved.  The content contains the link to return and complete the form." } };
    </script>
    <script defer="defer" src="js/gravityforms.js" id="gform_gravityforms-js"></script>
    <script defer="defer" src="js/utils.js" id="gform_gravityforms_utils-js"></script>
    <script defer="defer" src="js/vendor-theme.js" id="gform_gravityforms_theme_vendors-js"></script>
    <script id="gform_gravityforms_theme-js-extra">
        var gform_theme_config = { "common": { "form": { "honeypot": { "version_hash": "e38a28845903f1cb10c051d0c31cc74f" } } }, "hmr_dev": "", "public_path": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/assets\/js\/dist\/" };
    </script>
    <script defer="defer" src="js/scripts-theme.js" id="gform_gravityforms_theme-js"></script>
    <script type="text/javascript">
        window.addEventListener("load", function (event) {
            jQuery(".cfx_form_main,.wpcf7-form,.wpforms-form,.gform_wrapper form").each(function () {
                var form = jQuery(this);
                var screen_width = ""; var screen_height = "";
                if (screen_width == "") {
                    if (screen) {
                        screen_width = screen.width;
                    } else {
                        screen_width = jQuery(window).width();
                    }
                }
                if (screen_height == "") {
                    if (screen) {
                        screen_height = screen.height;
                    } else {
                        screen_height = jQuery(window).height();
                    }
                }
                form.append('<input type="hidden" name="vx_width" value="' + screen_width + '">');
                form.append('<input type="hidden" name="vx_height" value="' + screen_height + '">');
                form.append('<input type="hidden" name="vx_url" value="' + window.location.href + '">');
            });

        });
    </script>
    <script>
        gform.initializeOnLoaded(function () { jQuery(document).on('gform_post_render', function (event, formId, currentPage) { if (formId == 4) { } }); jQuery(document).bind('gform_post_conditional_logic', function (event, formId, fields, isInit) { }) });
    </script>
    <script>
        gform.initializeOnLoaded(function () { jQuery(document).trigger('gform_post_render', [4, 1]) });
    </script>





</body>