

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZPL8WB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T33KZT9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a href="#main" class="screen-reader-text">Skip to content</a>

    <div class="view">

        <div class="off-canvas-content" data-off-canvas-content>

            <header class="header" style="position: unset; !important" data-sticky-container>

                


                    <div class="wrapper">
                        <div class="grid-x">

                            <div class="cell shrink slot-logo">
                                <a href="/"><span class="screen-reader-text">Lanson Place</span></a>
                                <a href="/" rel="home"><span>Luxtery Hotel</span></a>
                            </div>

                            <nav class="cell auto slot-menu">
                                <ul id="menu-main" class="dropdown menu">
                                    <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127"><a href="/">Trang chủ</a>
                                        {{!-- <ul class="sub-menu">
                                            <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-131"><a href="https://www.twomr.com.hk/suites/garden-skyline-room/">Garden/Skyline Room</a></li>
                                            <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-130"><a href="https://www.twomr.com.hk/suites/standard-superior-suite/">Standard/Superior Suite</a></li>
                                            <li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-291"><a href="https://www.twomr.com.hk/suites/garden-skyline-suite/">Garden/Skyline Suite</a></li>
                                            <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-129"><a href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">Garden Deluxe/Skyline Deluxe Suite</a></li>
                                            <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-128"><a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">Garden/Skyline Apartment</a></li>
                                        </ul> --}}
                                    </li>
                                    <li id="menu-item-724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a href="/intro">Giới thiệu</a></li>
                                    <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132"><a href="#">Dịch vụ</a>
                                        {{!-- <ul class="sub-menu">
                                            <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-293"><a href="https://www.twomr.com.hk/meetings-events/wedding/">Wedding</a></li>
                                            <li id="menu-item-658" class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-658"><a href="https://www.twomr.com.hk/meetings-events/social-events/">Social Events</a></li>
                                            <li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-294"><a href="https://www.twomr.com.hk/meetings-events/central-business-event-venue/">Meeting</a></li>
                                        </ul> --}}
                                    </li>
                                    <li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176"><a href="/room">Phòng</a></li>
                                    <li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-136"><a href="#">Khuyến mãi</a>
                                        {{!-- <ul class="sub-menu">
                                            <li id="menu-item-701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><a href="https://www.twomr.com.hk/facilities/">Facilities & Services</a></li>
                                            <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a href="https://www.twomr.com.hk/neighbourhood/">Neighbourhood</a></li>
                                            <li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138"><a href="https://www.twomr.com.hk/contact-us/">Get in Touch</a></li>
                                        </ul> --}}
                                    </li>
                                    <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132"><a href="#">Hình ảnh</a>
                                    <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132"><a href="#">Tin tức</a>
                                    <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132"><a href="#">Liên hệ</a>
                                </ul>
                            </nav>

                            {{!-- <div class="cell shrink slot-languages">
                                <ul id="menu-languages" class="dropdown menu slot-languages">
                                    <li id="menu-item-734" class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734"><a href="https://www.twomr.com.hk/tc/"><span data-no-translation><span class="trp-ls-language-name">繁</span></span></a></li>
                                    <li id="menu-item-902" class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902"><a href="https://www.twomr.com.hk/sc/"><span data-no-translation><span class="trp-ls-language-name">简</span></span></a></li>
                                </ul>
                            </div> --}}

                            <div class="cell shrink slot-availability">
                                <button type="button" class="wp-block-button__link" data-open="reveal-ibe">
                      <span debug="twomacdonnellroaddirect">
                          Đặt phòng ngay</span>
                  </button>
                            </div>

                            <div class="cell shrink slot-toggle">
                                <button type="button" class="button" data-toggle="offCanvas"><span class="screen-reader-text">Open Menu</span></button>
                            </div>

                        </div>

                    </div>

                

            </header>
            <div class="hero-image">
                <img width="1200" height="800" src="https://s35891.pcdn.co/wp-content/uploads/sites/5/bar-cheers-LIMIT.jpg.webp" class="attachment-large size-large wp-post-image" alt="" decoding="async" fetchpriority="high" srcset="https://s35891.pcdn.co/wp-content/uploads/sites/5/bar-cheers-LIMIT.jpg.webp 1600w, https://s35891.pcdn.co/wp-content/uploads/sites/5/bar-cheers-LIMIT-720x480.jpg.webp 720w, https://s35891.pcdn.co/wp-content/uploads/sites/5/bar-cheers-LIMIT-768x512.jpg.webp 768w, https://s35891.pcdn.co/wp-content/uploads/sites/5/bar-cheers-LIMIT-1536x1024.jpg.webp 1536w" sizes="(max-width: 1200px) 100vw, 1200px">      
            </div>
            
            <div class="wrapper">
                <div class="content-block">
    
                        <h2 class="has-text-align-center wp-block-heading">Những căn phòng của Luxtery</h2>

                        <p class="has-text-align-center">Bước vào mỗi phòng hoặc dãy phòng và ngay lập tức được chào đón bởi tính thẩm mỹ và tay nghề thủ công của gỗ và đá cẩm thạch tốt nhất đất nước, tạo ra không gian lý tưởng để thư giãn và ngắm nhìn quang cảnh thành phố và bãi biển rộng lớn. Chỗ ở kiểu khách sạn của chúng tôi có cách bố trí tiện dụng với phòng khách và ban công mở (nếu có), truyền hình cáp, v.v. - giúp cho mọi kỳ nghỉ đều giống như ở nhà, dù ngắn hay dài.</p>


                        {{!-- <div class="stays-filter" data-filter-jets>
                            <ul class="tabs" role="tablist">
                                <li class="tabs-title is-active" role="presentation"><a href="#all" aria-selected="true">All</a></li>
                                <li class="tabs-title" role="presentation"><a href="#stays-extended-stay" aria-selected="false">Extended Stay</a></li>
                                <li class="tabs-title" role="presentation"><a href="#stays-shorter-stay" aria-selected="false">Shorter Stay</a></li>
                            </ul>
                        </div> --}}
                        <div class="grid-x grid-margin-x collection-rooms">

        

                            <div class="cell medium-6 large-4 card-suite post-83 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">
                                        <img loading="lazy" width="2560" height="1701" src="img/room_grandsuite.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/room_grandsuite.jpg 2560w, img/room_grandsuite-720x478.jpg 720w, img/room_grandsuite-1600x1063.jpg 1600w, img/room_grandsuite-768x510.jpg 768w, img/room_grandsuite-1536x1021.jpg 1536w, img/room_grandsuite-2048x1361.jpg 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">★★★★</p>
                                <p class="card-title"><a href="#">Phòng Grand Suite</a></p>

                                <p class="room-view">136 Phạm Văn Đồng - Đà Nẵng - Hotline 0236.387.28.28</p>
                                <ul class="card-actions">
                                    <li><a href="#" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-83 "}">Book now</a></li>
                                    <li><a href="#">More details</a></li>
                                </ul>

                            </div>

                            <div class="cell medium-6 large-4 card-suite post-83 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">
                                        <img loading="lazy" width="2560" height="1701" src="img/room_grandsuite.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/room_grandsuite.jpg 2560w, img/room_grandsuite-720x478.jpg 720w, img/room_grandsuite-1600x1063.jpg 1600w, img/room_grandsuite-768x510.jpg 768w, img/room_grandsuite-1536x1021.jpg 1536w, img/room_grandsuite-2048x1361.jpg 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">★★★★</p>
                                <p class="card-title"><a href="#">Phòng Grand Family</a></p>

                                <p class="room-view">136 Phạm Văn Đồng - Đà Nẵng - Hotline 0236.387.28.28</p>
                                <ul class="card-actions">
                                    <li><a href="#" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-83 "}">Book now</a></li>
                                    <li><a href="#">More details</a></li>
                                </ul>

                            </div>

                            <div class="cell medium-6 large-4 card-suite post-83 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">
                                        <img loading="lazy" width="2560" height="1701" src="img/room_grandsuite.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/room_grandsuite.jpg 2560w, img/room_grandsuite-720x478.jpg 720w, img/room_grandsuite-1600x1063.jpg 1600w, img/room_grandsuite-768x510.jpg 768w, img/room_grandsuite-1536x1021.jpg 1536w, img/room_grandsuite-2048x1361.jpg 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">★★★★</p>
                                <p class="card-title"><a href="#">Phòng Deluxe Twin</a></p>

                                <p class="room-view">136 Phạm Văn Đồng - Đà Nẵng - Hotline 0236.387.28.28</p>
                                <ul class="card-actions">
                                    <li><a href="#" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-83 "}">Book now</a></li>
                                    <li><a href="#">More details</a></li>
                                </ul>

                            </div>

                            <div class="cell medium-6 large-4 card-suite post-83 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">
                                        <img loading="lazy" width="2560" height="1701" src="img/room_grandsuite.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/room_grandsuite.jpg 2560w, img/room_grandsuite-720x478.jpg 720w, img/room_grandsuite-1600x1063.jpg 1600w, img/room_grandsuite-768x510.jpg 768w, img/room_grandsuite-1536x1021.jpg 1536w, img/room_grandsuite-2048x1361.jpg 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">★★★★</p>
                                <p class="card-title"><a href="#">Phòng Deluxe Double</a></p>

                                <p class="room-view">136 Phạm Văn Đồng - Đà Nẵng - Hotline 0236.387.28.28</p>
                                <ul class="card-actions">
                                    <li><a href="#" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-83 "}">Book now</a></li>
                                    <li><a href="#">More details</a></li>
                                </ul>

                            </div>

                            <div class="cell medium-6 large-4 card-suite post-83 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">
                                        <img loading="lazy" width="2560" height="1701" src="img/room_grandsuite.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/room_grandsuite.jpg 2560w, img/room_grandsuite-720x478.jpg 720w, img/room_grandsuite-1600x1063.jpg 1600w, img/room_grandsuite-768x510.jpg 768w, img/room_grandsuite-1536x1021.jpg 1536w, img/room_grandsuite-2048x1361.jpg 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">★★★★</p>
                                <p class="card-title"><a href="#">Phòng Luxtery Suite</a></p>

                                <p class="room-view">136 Phạm Văn Đồng - Đà Nẵng - Hotline 0236.387.28.28</p>
                                <ul class="card-actions">
                                    <li><a href="#" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-83 "}">Book now</a></li>
                                    <li><a href="#">More details</a></li>
                                </ul>

                            </div>

                            <div class="cell medium-6 large-4 card-suite post-83 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">
                                        <img loading="lazy" width="2560" height="1701" src="img/room_grandsuite.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/room_grandsuite.jpg 2560w, img/room_grandsuite-720x478.jpg 720w, img/room_grandsuite-1600x1063.jpg 1600w, img/room_grandsuite-768x510.jpg 768w, img/room_grandsuite-1536x1021.jpg 1536w, img/room_grandsuite-2048x1361.jpg 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">★★★★</p>
                                <p class="card-title"><a href="#">Phòng President Suite</a></p>

                                <p class="room-view">136 Phạm Văn Đồng - Đà Nẵng - Hotline 0236.387.28.28</p>
                                <ul class="card-actions">
                                    <li><a href="#" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-83 "}">Book now</a></li>
                                    <li><a href="#">More details</a></li>
                                </ul>

                            </div>

                            {{!-- <div class="cell medium-6 large-4 card-suite post-86 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/standard-superior-suite/">
                                        <img loading="lazy" width="2400" height="1600" src="img/LansonPlace_TMR_StandardSuperiorSuite_1.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/LansonPlace_TMR_StandardSuperiorSuite_1.jpg.webp 2400w, img/LansonPlace_TMR_StandardSuperiorSuite_1-720x480.jpg.webp 720w, img/LansonPlace_TMR_StandardSuperiorSuite_1-1600x1067.jpg.webp 1600w, img/LansonPlace_TMR_StandardSuperiorSuite_1-768x512.jpg.webp 768w, img/LansonPlace_TMR_StandardSuperiorSuite_1-1536x1024.jpg.webp 1536w, img/LansonPlace_TMR_StandardSuperiorSuite_1-2048x1365.jpg.webp 2048w"
                                            sizes="(max-width: 2400px) 100vw, 2400px"> </a>
                                </div>

                                <p class="room-area">470ft²</p>
                                <p class="card-title"><a href="https://www.twomr.com.hk/suites/standard-superior-suite/">Standard/Superior Suite</a></p>

                                <p class="room-view">City view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/suites/standard-superior-suite/" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-86 "}">Book now</a></li>
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=86">Send inquiry</a></li>
                                </ul>

                            </div>

                            <div class="cell medium-6 large-4 card-suite post-267 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-suite/">
                                        <img loading="lazy" width="2560" height="1707" src="img/LansonPlace_TMR_GardenSkylineSuite_1.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/LansonPlace_TMR_GardenSkylineSuite_1.jpg.webp 2560w, img/LansonPlace_TMR_GardenSkylineSuite_1-720x480.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineSuite_1-1600x1067.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineSuite_1-768x512.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineSuite_1-1536x1024.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineSuite_1-2048x1366.jpg.webp 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">560ft²</p>
                                <p class="card-title"><a href="https://www.twomr.com.hk/suites/garden-skyline-suite/">Garden/Skyline Suite</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/suites/garden-skyline-suite/" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-267 "}">Book now</a></li>
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=267">Send inquiry</a></li>
                                </ul>

                            </div>


                            <div class="cell medium-6 large-4 card-suite post-105 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">
                                        <img loading="lazy" width="2560" height="1707" src="img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1.jpg.webp 2560w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-720x480.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-1600x1067.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-768x512.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-1536x1024.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-2048x1366.jpg.webp 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">650ft²</p>
                                <p class="card-title"><a href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">Garden Deluxe/Skyline Deluxe Suite</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/" data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "IBE-105 "}">Book now</a></li>
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=105">Send inquiry</a></li>
                                </ul>

                            </div>


                            <div class="cell medium-6 large-4 card-suite post-107 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">
                                        <img loading="lazy" width="2400" height="1611" src="img/LansonPlace_TMR_GardenSkylineApartment.jpg.webp" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async" srcset="img/LansonPlace_TMR_GardenSkylineApartment.jpg.webp 2400w, img/LansonPlace_TMR_GardenSkylineApartment-720x483.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineApartment-1600x1074.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineApartment-768x516.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineApartment-1536x1031.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineApartment-2048x1375.jpg.webp 2048w"
                                            sizes="(max-width: 2400px) 100vw, 2400px"> </a>
                                </div>

                                <p class="room-area">750ft²</p>
                                <p class="card-title"><a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">Garden/Skyline Apartment</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=107">Send inquiry</a></li>
                                </ul>

                            </div> --}}
                        </div>
                    </main>
                </div>
            </div>

            </div>
        </div>


    </div>

    <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
        <button class="close-button" data-close type="button">
            <span class="screen-reader-text">Close menu</span>
          </button>

        <div class="slot-logo">
            <a href="https://lansonplace.com"><span class="screen-reader-text">Lanson Place</span></a>
        </div>

        <p><a href="https://www.twomr.com.hk" rel="home">Two MacDonnell Road</a></p>

        <ul id="menu-languages-2" class="menu slot-languages">
            <li class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734"><a href="https://www.twomr.com.hk/tc/"><span data-no-translation><span class="trp-ls-language-name">繁</span></span></a></li>
            <li class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902"><a href="https://www.twomr.com.hk/sc/"><span data-no-translation><span class="trp-ls-language-name">简</span></span></a></li>
        </ul>

        <div class="off-canvas-widget">
            <p class="off-canvas-widget-title">For Our Guests</p>
            <nav class="menu-for-our-guests-container" aria-label="For Our Guests">
                <ul id="menu-for-our-guests-1" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a href="https://www.twomr.com.hk/suites/">Our Spaces</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-725"><a href="https://www.twomr.com.hk/dining/">Dining</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="https://www.twomr.com.hk/meetings-events/">Meetings & Events</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="https://www.twomr.com.hk/promotions/">Offers</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="https://www.twomr.com.hk/facilities/">Facilities & Services</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170"><a href="https://www.twomr.com.hk/neighbourhood/">Neighbourhood</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="https://www.twomr.com.hk/reviews/">Reviews</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="https://www.twomr.com.hk/contact-us/">Get in Touch</a></li>
                </ul>
            </nav>
        </div>
        <div class="off-canvas-widget">
            <p class="off-canvas-widget-title">About Us</p>
            <nav class="menu-about-us-container" aria-label="About Us">
                <ul id="menu-about-us-1" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="https://www.twomr.com.hk/careers/">Careers</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="https://www.twomr.com.hk/mediacentre/">Media Centre</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251"><a target="_blank" rel="noopener" href="https://lansonplace.com/">Lanson Place</a></li>
                </ul>
            </nav>
        </div>
    </div>



    <div class="reveal" id="reveal-ibe" data-reveal="ibe">

        <h2>Find Your Personal Retreat Today</h2>

        <form action="#" target="_blank" class="ibe-form" id="ibe-form-reveal">


            <div class="ibe-core">

                <div class="is-select ibe-property" v-show="properties">
                    <label for="property-reveal">Location</label>
                    <div>
                        <select id="property-reveal" name="property" v-model="parameters.property" required>
        <option value>Choose location…</option>
        <option v-if="properties" v-for="property in properties" v-bind:value="property.property_ibe_id">{{ property.post_title }}</option>
      </select>
                    </div>
                </div>

                <div class="is-calendar ibe-duration">
                    <label for="duration-reveal">Check-in—Check-out</label>
                    <div data-no-translation>
                        <flat-pickr id="duration-reveal" name="duration" v-model="flatPickrDate" v-bind:config="flatPickrConfig" v-on:on-change="assignDates">
                        </flat-pickr>
                    </div>
                </div>

                <div class="ibe-occupants">

                    <div class="is-select ibe-adults">
                        <label for="number_adults-reveal">Adults</label>
                        <div>
                            <select id="number_adults-reveal" name="number_adults" v-model="parameters.number_adults">
            <option v-for="n in 10">{{ n }}</option>
        </select>
                        </div>
                    </div>

                    <div class="is-select ibe-children">
                        <label for="number_children-reveal">Children</label>
                        <div>
                            <select id="number_children-reveal" name="number_children" v-model="parameters.number_children">
          <option value="0">0</option>
          <option v-for="n in 10">{{ n }}</option>
        </select>
                        </div>
                    </div>

                </div>

                <div class="ibe-promo" v-show="!properties">
                    <label for="promotion_code-reveal">Promo Code</label>
                    <div>
                        <input id="promotion_code-reveal" name="promotion_code" v-model="parameters.promotion_code">
                    </div>
                </div>

                <input type="hidden" name="_src" v-model="parameters._src">
                <input type="hidden" name="locale" v-model="parameters.locale">

            </div>

            <button type="submit" v-if="ibeUrl" v-bind:disabled="!parameters.property" v-on:click.prevent="toIBE">Book Now</button>
            <button type="submit" v-else-if="!ibeUrl && contactUrl" v-on:click.prevent="toContact">Send Enquiry</button>

        </form>

        <button class="close-button" data-close type="button">
    <span class="screen-reader-text">Close modal</span>
  </button>

    </div>


    <template id="tp-language" data-tp-language="en_GB"></template>
    <link rel="stylesheet" id="gravity_forms_theme_reset-css" href="css/gravity-forms-theme-reset.css" media="all">
    <link rel="stylesheet" id="gravity_forms_theme_foundation-css" href="css/gravity-forms-theme-foundation.css" media="all">
    <link rel="stylesheet" id="gravity_forms_theme_framework-css" href="css/gravity-forms-theme-framework.css" media="all">
    <link rel="stylesheet" id="gravity_forms_orbital_theme-css" href="css/gravity-forms-orbital-theme.css" media="all">
    <style id="core-block-supports-inline-css">
        /**
 * Core styles: block-supports
 */
        
        .wp-container-1.wp-container-1 {
            justify-content: center;
        }
    </style>
    <script src="javascript/clipboard.js" id="clipboard-js"></script>
    <script src="javascript/flatpickr.min.js" id="flatpickr-js"></script>
    <script src="javascript/foundation.min.js" id="foundation-js"></script>
    <script src="javascript/gsap.min.js" id="gsap-js"></script>
    <script src="javascript/jets.min.js" id="jets-js"></script>
    <script src="javascript/js.cookie.min.js" id="js-cookie-js"></script>
    <script src="javascript/slick.min.js" id="slick-js"></script>
    <script src="javascript/vue.min.js" id="vue-js"></script>
    <script src="javascript/vue-flatpickr.min.js" id="vue-flatpickr-component-js"></script>
    <script id="client-theme-js-extra">
        var phpVars = {
            "contactUrl": "https:\/\/www.twomr.com.hk\/contact-us\/",
            "properties": "",
            "property": "twomacdonnellroaddirect",
            "rooms": "",
            "room_type": "",
            "check_in_date": "2023-09-07",
            "check_out_date": "2023-09-08"
        };
    </script>
    <script src="javascript/application.js" id="client-theme-js"></script>
    <script src="javascript/client-blocks.js" id="client-blocks-js"></script>
    <script src="javascript/index.js" id="swv-js"></script>
    <script id="contact-form-7-js-extra">
        var wpcf7 = {
            "api": {
                "root": "https:\/\/www.twomr.com.hk\/wp-json\/",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script src="javascript/index_1.js" id="contact-form-7-js"></script>
    <script src="javascript/underscore.min.js" id="underscore-js"></script>
    <script src="javascript/backbone.min.js" id="backbone-js"></script>
    <script id="wp-api-request-js-extra">
        var wpApiSettings = {
            "root": "https:\/\/www.twomr.com.hk\/wp-json\/",
            "nonce": "65c1058a47",
            "versionString": "wp\/v2\/"
        };
    </script>
    <script src="javascript/api-request.js" id="wp-api-request-js"></script>
    <script src="javascript/wp-api.js" id="wp-api-js"></script>
    <script src="javascript/wp-polyfill-inert.js" id="wp-polyfill-inert-js"></script>
    <script src="javascript/regenerator-runtime.js" id="regenerator-runtime-js"></script>
    <script src="javascript/wp-polyfill.js" id="wp-polyfill-js"></script>
    <script src="javascript/dom-ready.js" id="wp-dom-ready-js"></script>
    <script src="javascript/hooks.js" id="wp-hooks-js"></script>
    <script src="javascript/i18n.js" id="wp-i18n-js"></script>
    <script id="wp-i18n-js-after">
        wp.i18n.setLocaleData({
            'text direction\u0004ltr': ['ltr']
        });
    </script>
    <script id="wp-a11y-js-translations">
        (function(domain, translations) {
            var localeData = translations.locale_data[domain] || translations.locale_data.messages;
            localeData[""].domain = domain;
            wp.i18n.setLocaleData(localeData, domain);
        })("default", {
            "translation-revision-date": "2020-10-29 21:22:19+0000",
            "generator": "GlotPress\/3.0.0-alpha.2",
            "domain": "messages",
            "locale_data": {
                "messages": {
                    "": {
                        "domain": "messages",
                        "plural-forms": "nplurals=2; plural=n != 1;",
                        "lang": "en_GB"
                    },
                    "Notifications": ["Notifications"]
                }
            },
            "comment": {
                "reference": "wp-includes\/js\/dist\/a11y.js"
            }
        });
    </script>
    <script src="javascript/a11y.js" id="wp-a11y-js"></script>
    <script defer="defer" src="javascript/jquery.json.js" id="gform_json-js"></script>
    <script id="gform_gravityforms-js-extra">
        var gform_i18n = {
            "datepicker": {
                "days": {
                    "monday": "Mo",
                    "tuesday": "Tu",
                    "wednesday": "We",
                    "thursday": "Th",
                    "friday": "Fr",
                    "saturday": "Sa",
                    "sunday": "Su"
                },
                "months": {
                    "january": "January",
                    "february": "February",
                    "march": "March",
                    "april": "April",
                    "may": "May",
                    "june": "June",
                    "july": "July",
                    "august": "August",
                    "september": "September",
                    "october": "October",
                    "november": "November",
                    "december": "December"
                },
                "firstDay": 0,
                "iconText": "Select date"
            }
        };
        var gf_legacy_multi = [];
        var gform_gravityforms = {
            "strings": {
                "invalid_file_extension": "This type of file is not allowed. Must be one of the following:",
                "delete_file": "Delete this file",
                "in_progress": "in progress",
                "file_exceeds_limit": "File exceeds size limit",
                "illegal_extension": "This type of file is not allowed.",
                "max_reached": "Maximum number of files reached",
                "unknown_error": "There was a problem while saving the file on the server",
                "currently_uploading": "Please wait for the uploading to complete",
                "cancel": "Cancel",
                "cancel_upload": "Cancel this upload",
                "cancelled": "Cancelled"
            },
            "vars": {
                "images_url": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/images"
            }
        };
        var gf_global = {
            "gf_currency_config": {
                "name": "Hong Kong Dollar",
                "symbol_left": "HK$",
                "symbol_right": "",
                "symbol_padding": "",
                "thousand_separator": ",",
                "decimal_separator": ".",
                "decimals": 2,
                "code": "HKD"
            },
            "base_url": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms",
            "number_formats": [],
            "spinnerUrl": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/images\/spinner.svg",
            "version_hash": "e38a28845903f1cb10c051d0c31cc74f",
            "strings": {
                "newRowAdded": "New row added.",
                "rowRemoved": "Row removed",
                "formSaved": "The form has been saved.  The content contains the link to return and complete the form."
            }
        };
    </script>
    <script defer="defer" src="javascript/gravityforms.js" id="gform_gravityforms-js"></script>
    <script defer="defer" src="javascript/utils.js" id="gform_gravityforms_utils-js"></script>
    <script defer="defer" src="javascript/vendor-theme.js" id="gform_gravityforms_theme_vendors-js"></script>
    <script id="gform_gravityforms_theme-js-extra">
        var gform_theme_config = {
            "common": {
                "form": {
                    "honeypot": {
                        "version_hash": "e38a28845903f1cb10c051d0c31cc74f"
                    }
                }
            },
            "hmr_dev": "",
            "public_path": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/assets\/js\/dist\/"
        };
    </script>
    <script defer="defer" src="javascript/scripts-theme.js" id="gform_gravityforms_theme-js"></script>
    <script type="text/javascript">
        window.addEventListener("load", function(event) {
            jQuery(".cfx_form_main,.wpcf7-form,.wpforms-form,.gform_wrapper form").each(function() {
                var form = jQuery(this);
                var screen_width = "";
                var screen_height = "";
                if (screen_width == "") {
                    if (screen) {
                        screen_width = screen.width;
                    } else {
                        screen_width = jQuery(window).width();
                    }
                }
                if (screen_height == "") {
                    if (screen) {
                        screen_height = screen.height;
                    } else {
                        screen_height = jQuery(window).height();
                    }
                }
                form.append('<input type="hidden" name="vx_width" value="' + screen_width + '">');
                form.append('<input type="hidden" name="vx_height" value="' + screen_height + '">');
                form.append('<input type="hidden" name="vx_url" value="' + window.location.href + '">');
            });

        });
    </script>
    <script>
        gform.initializeOnLoaded(function() {
            jQuery(document).on('gform_post_render', function(event, formId, currentPage) {
                if (formId == 4) {}
            });
            jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit) {})
        });
    </script>
    <script>
        gform.initializeOnLoaded(function() {
            jQuery(document).trigger('gform_post_render', [4, 1])
        });
    </script>

